<div class="pk-card bg-@Type-light @Type @Class">
    <Div Class="pk-card-inner">
        @if (!ImageHidden && string.IsNullOrWhiteSpace(IconClass))
        {
            <Div>
                <img src="/images/icons/icon-@Type-light.png" />
            </Div>
        }
        @if (!string.IsNullOrWhiteSpace(IconClass))
        {
            <Div>
                <Icon Class="@IconClass"></Icon>
            </Div>
        }
        <Div>
            <h5 class="m-0">@Title</h5>
            <h3 class="fw-bolder m-0">
                @if (AmountVisible)
                {
                    <Span>$@((Amount ?? 0).ToString("N0"))</Span>
                }
                @if (CountVisible)
                {
                    <Span>@((Count ?? 0).ToString("N0"))</Span>
                }
                @if (AmountVisible && CountVisible)
                {
                    <Span>&nbsp;(@((Count ?? 0).ToString("N0")))</Span>
                }
            </h3>
        </Div>
        <Div>@ChildContent</Div>
    </Div>
</div>
@code {
    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public decimal? Amount { get; set; }

    [Parameter]
    public int? Count { get; set; }

    [Parameter]
    public bool ImageHidden { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public bool AmountVisible { get; set; } = false;

    [Parameter]
    public bool CountVisible { get; set; } = false;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? IconClass { get; set; }
}
