
@using Blazorise
@using System.Linq
@using Kooco.Pikachu.Localization;
@using Kooco.Pikachu.EnumValues;
@using Kooco.Pikachu.TenantDeliveryFees
@using Microsoft.AspNetCore.Components.Web;
@inherits PikachuComponentBase

@inject ITenantDeliveryFeeAppService FeeApp
@inject IMessageService MessageService
@using Microsoft.Extensions.Localization;
@using Volo.Abp.AspNetCore.Components.Notifications
@inject IStringLocalizer<PikachuResource> L;
@inject IAuthorizationService Authorization

<link href="css/platform-fee-settings.css" rel="stylesheet" />


<Validations @ref="formValidations" Mode="ValidationMode.Manual">
   <div class="platform-tab">
        <div class="platform-tab-header">
            <h3 class="platform-tab-title">@L["LogisticFeeConfiguration"]</h3>
            <p class="platform-tab-description">@L["LogisticFeeConfiguration_Desc"]</p>
            </div>
            <!-- Delivery Options Section -->
            
                 <div class="platform-tab-section">
            <div class="platform-tab-section-title">@L["DeliveryOptions"]</div>
                @foreach (var item in Vm.Items)
                {
                    <div>
                          <div class="platform-tab-section-item">
                    <div class="platform-tab-switch">
                            <Switch @bind-Checked="item.IsEnabled" 
                                   Toggled="() => OnEnabledChanged(item)"
                                   Class="switch" />
                            <span class="switch-label">@item.DeliveryProvider.ToString()</span>
                       </div>
                      
                        <div class="platform-tab-input-group">
                            <div>
                                <AntDesign.Select TItem="FeeKind" TItemValue="FeeKind" @bind-Value="item.FeeKind">
                                    <SelectOptions>
                                        <AntDesign.SelectOption Value="FeeKind.Percentage" Label="@L["PercentageFee"]" />
                                        <AntDesign.SelectOption Value="FeeKind.FixedAmount" Label="@L["FixedAmount"]" />
                                    </SelectOptions>
                                </AntDesign.Select>
                            </div>
                            <div>
                                <AntDesign.InputGroup Class="@(item.FeeKind==FeeKind.Percentage ? "suffix" : "prefix")">
                                    @if (item.FeeKind==FeeKind.FixedAmount)
                                    {
                                        <span class="ant-input-group-addon">$</span>
                                         <AntDesign.InputNumber TValue="decimal"
                                                           @bind-Value="item.FixedAmount"
                                                           Class="no-stepper" />
                                    }

                                   

                                    @if (item.FeeKind==FeeKind.Percentage)
                                    {
                                        <AntDesign.InputNumber TValue="decimal"
                                                           @bind-Value="item.PercentValue"
                                                           Class="no-stepper" />
                                        <span class="ant-input-group-addon">%</span>
                                    }
                                </AntDesign.InputGroup>
                            </div>
                        </div>
                   
                    </div>
                    </div>
                   
                }
            </div>
     

        <div class="platform-tab-footer">
             <PikachuButton Class="pk-btn-sm pk-btn-outline-primary" Clicked="ResetAsync">
         
                @L["Reset"]
            </PikachuButton>
              <PikachuButton Class="pk-btn-sm pk-btn-primary"  Disabled="@(!CanManage)"
                   Clicked="SaveAsync">
           
                @L["SaveLogisticFeeSettings"]
            </PikachuButton>
     </div>
        </div>
</Validations>


