@using Kooco.Pikachu.Members
@using Kooco.Pikachu.UserAddresses
@using Microsoft.Extensions.Logging
@using Serilog
@using Volo.Abp.AspNetCore.Components.Notifications
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService

<Row>
    <Column ColumnSize="ColumnSize.Is4">
        @if (Member != null)
        {
            <Card>
                <CardBody Class="px-0">
                    <h4 class="px-3">@L["BasicDetails"]</h4>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["LoginMethod"]</h6>
                        <Span>Account and password</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["Email"]</h6>
                        <Span>@Member?.Email</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["Phone"]</h6>
                        <Span>@Member?.PhoneNumber</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["Birthday"]</h6>
                        <Span>@Member?.Birthday?.ToString("yyyy/MM/dd")</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["PostalCode"]</h6>
                        <Span>@(DefaultAddress?.PostalCode ?? "N/A")</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["City"]</h6>
                        <Span>@(DefaultAddress?.City ?? "N/A")</Span>
                    </Div>
                    <Divider Class="my-2"></Divider>
                    <Div Class="px-3">
                        <h6 class="m-0">@L["Address"]</h6>
                        <Span>@(DefaultAddress?.Address ?? "N/A")</Span>
                    </Div>
                </CardBody>
            </Card>
        }
    </Column>
    <Column ColumnSize="ColumnSize.Is8">
        <Card>
            <CardBody>
                <h4>@L["Payment"]</h4>
                <Row Class="py-3" HorizontalGutter="10">
                    <Column ColumnSize="ColumnSize.Is4">
                        <PikachuCard Type="success" Title="@L["Paid"]" Amount="CumulativeFinancials?.TotalPaid" AmountVisible="true"></PikachuCard>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4">
                        <PikachuCard Type="warning" Title="@L["Unpaid/Due"]" Amount="CumulativeFinancials?.TotalUnpaid" AmountVisible="true"></PikachuCard>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is4">
                        <PikachuCard Type="danger" Title="@L["Refunded"]" Amount="CumulativeFinancials?.TotalRefunded" AmountVisible="true"></PikachuCard>
                    </Column>
                </Row>
            </CardBody>
        </Card>
        @if (CanDeleteMember)
        {
            <Card>
                <CardBody>
                    <h4>@L["DataManagement"]</h4>
                    <PikachuButton Class="pk-btn-outline-danger" Loading="IsDeleting" Clicked="DeleteAsync">
                        @L["DeleteAccount"]
                    </PikachuButton>

                    <p class="mt-2">@L["DeleteMemberCautionMessage"]</p>
                </CardBody>
            </Card>
        }
    </Column>
</Row>
