@page "/Members/Details/{Id:guid}"
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.Permissions
@attribute [Authorize(PikachuPermissions.Members.Default)]
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService
@inject NavigationManager NavigationManager

<Div Class="rounded-cards">
    <h5 Class="text-dark mb-lg-2 mt-lg-3">
        <Span Class="cursor-pointer" @onclick="NavigateToMember">
            <Icon Name="IconName.ArrowLeft" Class="me-1"></Icon>
            @L["Members"]
        </Span>
    </h5>
    <MemberDetailsHeader Member="Member" CanEditMember="CanEditMember"></MemberDetailsHeader>
    @if (Member != null)
    {
        <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="Details">@L["Details"]</Tab>
            </Items>
            <Content>
                <TabPanel Name="Details">
                    <MemberDetailsTab Member="Member" CanDeleteMember="CanDeleteMember" OnDelete="@NavigateToMember" />
                </TabPanel>
            </Content>
        </Tabs>
    }
</Div>
