@page "/Members/Details/{Id:guid}"
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.Permissions
@attribute [Authorize(PikachuPermissions.Members.Default)]
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService
@inject NavigationManager NavigationManager

<Div Class="rounded-cards">
    <PikachuButton Clicked="NavigateToMember">
        <Icon Name="IconName.ArrowLeft" Class="me-1"></Icon>
        @L["Members"]
    </PikachuButton>
    <MemberDetailsHeader Member="Member" CanEditMember="CanEditMember"></MemberDetailsHeader>
    @if (Member != null)
    {
        <Tabs RenderMode="TabsRenderMode.LazyLoad" SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
            <Items>
                <Tab Name="Details">@L["Details"]</Tab>
                <Tab Name="Orders">@L["Orders"]</Tab>
                <Tab Name="ShoppingCredits">@L["ShoppingCredits"]</Tab>
            </Items>
            <Content>
                <TabPanel Name="Details">
                    <MemberDetailsTab Member="Member" CanDeleteMember="CanDeleteMember" OnDelete="@NavigateToMember" />
                </TabPanel>
                <TabPanel Name="Orders">
                    <MemberOrdersTab Member="Member"></MemberOrdersTab>
                </TabPanel>
                <TabPanel Name="ShoppingCredits">
                    <MemberShoppingCreditsTab Member="Member"></MemberShoppingCreditsTab>
                </TabPanel>
            </Content>
        </Tabs>
    }
</Div>
