@page "/use-setting"
@attribute [Authorize]
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Localization

@using Kooco.Pikachu.GroupBuys
@using Kooco.Pikachu.Items
@using Kooco.Pikachu.ShoppingCredits
@using Kooco.Pikachu.Permissions
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH
@inherits PikachuComponentBase
@inject IGroupBuyAppService GroupBuyAppService
@inject IShoppingCreditUsageSettingAppService ShoppingCreditUsageSettingAppService
@inject NavigationManager NavigationManager
<style>
    input.is-valid ~ .form-check-label {
        color: #505150 !important;
    }
</style>
<Div>
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <Heading Size="HeadingSize.Is3" @onclick="NavigateToList" style="cursor: pointer;" class="text-dark">@L["UseSettings"]</Heading>
        </Column>

    </Row>
</Div>
<Form>
    <Validations @ref="@ValidationsRef" Model="@CreateUpdateUsage" ValidateOnLoad="false"  Mode="ValidationMode.Manual">
        <Card>
            <CardBody>
                <Row VerticalGutter="10">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Column ColumnSize="ColumnSize.Is3">
                            <h4 class="text-dark">@L["AllowUsage"]</h4>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is9">

                            <Column ColumnSize="ColumnSize.Is12">
                                <Switch TValue="bool" @bind-Checked="CreateUpdateUsage.AllowUsage">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </Switch>

                            </Column>

                        </Column>
                    </Validation>

                </Row>
            </CardBody>
        </Card>
        <Card>
            <CardBody>
                <Row VerticalGutter="10">
                    <Column ColumnSize="ColumnSize.Is3">
                        <h4 class="text-dark">@L["DiscountMethod"]</h4>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is9">
                        <Column ColumnSize="ColumnSize.Is12">
                            <Validation MessageLocalizer="@LH.Localize">
                                <Label>@L["DeductionMethod"]</Label>
                                <RadioGroup Orientation="Orientation.Vertical" TValue="string" Name="DeductionMethod" @bind-CheckedValue="CreateUpdateUsage.DeductionMethod">
                                    <ChildContent>
                                        <Radio Value="@("UnifiedCalculation")">
                                            @L["UnifiedCalculation:"]
                                            @if (CreateUpdateUsage.DeductionMethod == "UnifiedCalculation")
                                            {
                                                <Addons>
                                                    <Addon AddonType="AddonType.Body">
                                                        <NumericEdit @bind-Value="CreateUpdateUsage.UnifiedMaxDeductiblePoints" Max="100" TValue="int" />
                                                    </Addon>
                                                    <AddonLabel>%</AddonLabel>
                                                </Addons>
                                                <Field Class="m-0">
                                                    <FieldLabel>@L["MaximumDeduction"]</FieldLabel>
                                                    <NumericEdit @bind-Value="CreateUpdateUsage.MaximumDeduction" Min="0" TValue="int" />
                                                </Field>
                                            }
                                        </Radio>
                                        <Radio Value="@("StagedCalculation")">@L["StagedCalculation"]</Radio>
                                    </ChildContent>
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </RadioGroup>
                            </Validation>
                        </Column>
                        @if (CreateUpdateUsage.DeductionMethod == "StagedCalculation")
                        {
                            <Column ColumnSize="ColumnSize.Is12">
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is6">
                                        <Label>@L["StagedSettings"]</Label>
                                    </Column>
                                    <Column Class="text-end" ColumnSize="ColumnSize.Is6">
                                        <Button Clicked="AddNewRow"><Icon Name="IconName.Add"></Icon></Button>
                                    </Column>
                                    @foreach (var setting in stagedSettings)
                                    {
                                        <Column ColumnSize="ColumnSize.Is6">
                                            <Label>@L["Spend"]</Label>
                                            <NumericEdit @bind-Value="setting.Spend" TValue="int" />
                                        </Column>
                                        <Column ColumnSize="ColumnSize.Is6">
                                            <Label>@L["ToUsePoints"]</Label>
                                            <NumericEdit @bind-Value="setting.Points" TValue="int" />
                                        </Column>
                                    }
                                </Row>
                            </Column>
                        }


                    </Column>

                </Row>
            </CardBody>
        </Card>
        <Card>
            <CardBody>
                <Row VerticalGutter="10">
                    <Column ColumnSize="ColumnSize.Is3">
                        <h4 class="text-dark">@L["UsableScope"]</h4>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is9">
                        <Column ColumnSize="ColumnSize.Is12">

                            <Label>@L["UsableforGroupbuying"]</Label>
                            <RadioGroup Orientation="Orientation.Vertical" TValue="string" CheckedValue="@CreateUpdateUsage.UsableGroupbuysScope" CheckedValueChanged="OnUsableGroupbuysScopeChanged" Name="Groupbuys">
                                <ChildContent>
                                    <Radio Value="@("AllGroupbuys")">@L["AllGroupbuys"]</Radio>
                                    <Radio Value="@("SpecificGroupbuys")">@L["SpecificGroupbuys"]</Radio>
                                </ChildContent>

                            </RadioGroup>

                        </Column>
                        @if (CreateUpdateUsage.UsableGroupbuysScope == "SpecificGroupbuys")
                        {
                            <Column ColumnSize="ColumnSize.Is12">
                                <EditForm EditContext="editContext">
                                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                                  TItem="Guid"
                                                      TItemValue="Guid"
                                                      @bind-Values="@SelectedGroupBuy"
                                                      Placeholder="@L["SelectaGroupBuys"]"
                                                     
                                                      EnableSearch>
                                        <SelectOptions>
                                            @foreach (var item in Groupbuys)
                                            {
                                                <AntDesign.SelectOption TItem="Guid"  TItemValue="Guid"  Value=@item.Id Label=@item.GroupBuyName />
                                            }
                                        </SelectOptions>
                                    </AntDesign.Select>
                                    <ValidationMessage For="() => CreateUpdateUsage!.GroupbuyIds" />
                                </EditForm>

                            </Column>
                        }
                        <Divider></Divider>

                        <Column ColumnSize="ColumnSize.Is12">
                            <Label>@L["UseableforProducts"]</Label>

                            <RadioGroup Orientation="Orientation.Vertical" TValue="string" CheckedValue="CreateUpdateUsage.UsableProductsScope" CheckedValueChanged="OnUsableProductsScopeChanged" Name="Products">
                                <ChildContent>
                                    <Radio Value="@("AllProducts")">@L["AllProducts"]</Radio>
                                    <Radio Value="@("SpecificProducts")">@L["SpecificProducts"]</Radio>
                                </ChildContent>

                            </RadioGroup>

                        </Column>
                        @if (CreateUpdateUsage.UsableProductsScope == "SpecificProducts")
                        {
                            <Column ColumnSize="ColumnSize.Is12">
                                <EditForm EditContext="editContext">
                                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                                      TItem="Guid"
                                                      TItemValue="Guid"
                                                      @bind-Values="@SelectedProducts"
                                                      Placeholder="@L["SelectaProducts"]"
                                                      EnableSearch>
                                        <SelectOptions>
                                            @foreach (var item in Products)
                                            {
                                                <AntDesign.SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                                            }
                                        </SelectOptions>
                                    </AntDesign.Select>
                                    <ValidationMessage For="() => CreateUpdateUsage!.ProductIds" />
                                </EditForm>
                            </Column>
                        }
                        <Column ColumnSize="ColumnSize.Is12">
                            <Label>@L["ApplicableItems"]</Label>


                            <div class="d-flex flex-column">
                                <Check TValue="bool"
                                       Checked="@IsAddOnProductsSelected"
                                       CheckedChanged="@((bool value) => OnCheckChanged(value, "AddOnProducts"))">
                                    @L["Add-OnProducts"]
                                </Check>

                                <Check TValue="bool"
                                       Checked="@IsShippingFeesSelected"
                                       CheckedChanged="@((bool value) => OnCheckChanged(value, "ShippingFees"))">
                                    @L["ShippingFees"]
                                </Check>
                            </div>


                        </Column>
                    </Column>

                </Row>
            </CardBody>
        </Card>
    </Validations>
</Form>
<Div Class="text-end">
    <PikachuButton Class="pk-btn-light" Disabled="@IsUpdating" Clicked="NavigateToShoppingCredits">
        @L["Cancel"]
    </PikachuButton>
    <PikachuButton Class="pk-btn-primary" Loading="IsUpdating" Clicked="HandleValidSubmit">
        @L["Create"]
    </PikachuButton>
</Div>