@page "/TenantBillingReport"
@using Kooco.Pikachu.GroupBuys;
@using Kooco.Pikachu.Permissions
@using Microsoft.Extensions.Configuration;
@using Volo.Abp.AspNetCore.Components.Messages;
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Application.Dtos
@using Kooco.Pikachu.Orders;
@using Kooco.Pikachu.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using System.Text.Json;
@using System.ComponentModel;
@using Blazorise.LoadingIndicator;

@inject IGroupBuyAppService _groupBuyAppService;
@inject IUiMessageService _uiMessageService;
@inject IStringLocalizer<PikachuResource> L
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;
@inject IConfiguration _configuration;
@attribute [Authorize(PikachuPermissions.TenentBillReport)]
<LoadingIndicator @ref="loading" FullScreen FadeIn>
</LoadingIndicator>

<div class="row">
    <div class="col-6">
        <h3>@L["GroupbuyReport"]</h3>
    </div>
</div>
<Card>
    <CardBody>
        <DataGrid TItem="GroupBuyReportDto"
                  Data="GroupBuyReportList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="Total"
                  ShowPager="true"
                  PageSize="PageSize"
                  SortChanged="OnSortChange">
            <DataGridColumns>
                <DataGridColumn TItem="GroupBuyReportDto"
                                Field="@nameof(GroupBuyReportDto.GroupBuyName)"
                                Caption="@L["GroupBuyName"]"
                                Width="50%">
                    <DisplayTemplate>
                        <a href="/TenantBillingReport/TenantBillingReportDetails/@context.GroupBuyId" target="_blank">@context.GroupBuyName</a>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Caption="@L["ReportUrl"]" Sortable="false" TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        <a href="/TenantBillingReport/TenantBillingReportDetails/@context.GroupBuyId" target="_blank"><i class="fa fa-link"></i></a>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyReportDto"
                                Field="@nameof(GroupBuyReportDto.TenantName)"
                                Caption="@L["TenantName"]"
                                TextAlignment="TextAlignment.Center">
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyReportDto"
                                Field="@nameof(GroupBuyReportDto.TotalOrder)"
                                Caption="@L["TotalOrder"]"
                                TextAlignment="TextAlignment.Center">
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyReportDto"
                                Field="@nameof(GroupBuyReportDto.WatingForShipment)"
                                Caption="@L["WatingForShipment"]"
                                TextAlignment="TextAlignment.Center">
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyReportDto" Field="@nameof(GroupBuyReportDto.SalesAmount)"
                                Caption="@L["SalesAmount"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        $@context.SalesAmount.ToString("N0")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyReportDto" Field="@nameof(GroupBuyReportDto.AmountReceived)"
                                Caption="@L["AmountReceived"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        $@context.AmountReceived.ToString("N0")
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
            <FirstPageButtonTemplate>@L[PikachuResource.FirstPage]</FirstPageButtonTemplate>
            <PreviousPageButtonTemplate>@L[PikachuResource.PrevPage]</PreviousPageButtonTemplate>
            <NextPageButtonTemplate>@L[PikachuResource.NextPage]</NextPageButtonTemplate>
            <LastPageButtonTemplate>@L[PikachuResource.LastPage]</LastPageButtonTemplate>
            <TotalItemsTemplate>
                @(string.Format(
                    L["Range"],
                    ((PageIndex - 1) * PageSize) + 1,
                    (PageIndex * PageSize > Total ? Total : PageIndex * PageSize),
                    Total
                    ))
            </TotalItemsTemplate>
        </DataGrid>
    </CardBody>
</Card>
@code {

}

