@page "/Members/Edit/{Id:guid}"
@using Kooco.Pikachu.Blazor.Pages.Members.MemberDetails
@using Kooco.Pikachu.Blazor.Pages.UserAddresses
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.UserAddresses
@using Volo.Abp.AspNetCore.Components.Web
@attribute [Authorize(PikachuPermissions.Members.Edit)]
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService
@inject IUserAddressAppService UserAddressAppService
@inject NavigationManager NavigationManager
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH

<Div Class="rounded-cards">
    <h5 Class="text-dark mb-lg-2 mt-lg-3">
        <Span Class="cursor-pointer" @onclick="NavigateToMemberDetails">
            <Icon Name="IconName.ArrowLeft" Class="me-1"></Icon>
            @Member?.UserName
        </Span>
    </h5>
    <MemberDetailsHeader Member="Member"></MemberDetailsHeader>
    @if (Member != null)
    {
        <Card>
            <CardBody>
                <Div Class="d-flex align-items-center justify-content-between">
                    <h4>@L["EditMember"]</h4>
                    <Div Class="d-flex align-items-center gap-1">
                        <FieldLabel>@L["Address"]</FieldLabel>
                        <Select TValue="Guid?" SelectedValue="@SelectedAddressId" SelectedValueChanged="@OnSelectedValueChanged" Size="Size.Small">
                            <SelectItem Value="(Guid?)null" selected Disabled></SelectItem>
                            @foreach (var address in UserAddresses)
                            {
                                <SelectItem Value="@address.Id">@address.Address, @address.City @address.PostalCode</SelectItem>
                            }
                        </Select>
                    </Div>
                </Div>
                <Form>
                    <Validations @ref="@ValidationsRef" Model="@EditingMember" ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["FullName"] *</FieldLabel>
                                        <TextEdit @bind-Text="@EditingMember.Name">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["EmailAddress"] *</FieldLabel>
                                        <TextEdit @bind-Text="@EditingMember.Email">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["PhoneNumber"] *</FieldLabel>
                                        <TextEdit @bind-Text="@EditingMember.PhoneNumber">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Birthday"] *</FieldLabel>
                                        <DateEdit TValue="DateTime?" @bind-Date="@EditingMember.Birthday">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </DateEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Divider Class="my-3"></Divider>
                            <Div Class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">@L["DefaultAddress"]</h6>
                                <PikachuButton Class="pk-btn-sm pk-btn-light" Disabled="SelectedAddress == null" Clicked="EditAddress">
                                    @L["EditAddress"]
                                    <Icon Name="IconName.Pen" Class="ms-1"></Icon>
                                </PikachuButton>
                            </Div>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["City"] *</FieldLabel>
                                        <TextEdit @bind-Text="@EditingMember.City" ReadOnly>
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is6.OnFullHD">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["Address"] *</FieldLabel>
                                        <TextEdit @bind-Text="@EditingMember.Address" ReadOnly>
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                    </Validations>
                    <Div Class="text-end">
                        <PikachuButton Class="pk-btn-light" Disabled="IsUpdating" Clicked="NavigateToMemberDetails">
                            @L["Cancel"]
                        </PikachuButton>
                        <PikachuButton Class="pk-btn-primary" Loading="IsUpdating" Clicked="UpdateAsync">
                            @L["Update"]
                        </PikachuButton>
                    </Div>
                </Form>
            </CardBody>
        </Card>
    }
</Div>

<EditUserAddressModal @ref="EditUserAddressModal" OnModalClosed="OnEditUserAddressModalClosed"></EditUserAddressModal>