@using Kooco.Pikachu.Dashboards
@inherits PikachuComponentBase

<div class="dashboard-stats">
    @foreach (var stat in Stats)
    {
        <div class="stats-card">
            <div class="stats-icon @(stat.Color)">
                <i class="fas @stat.Icon"></i>
            </div>
            <div class="stats-info">
                @if (Loading)
                {
                    <Skeleton Animation="SkeletonAnimation.Pulse">
                        <SkeletonItem ColumnSize="ColumnSize.Is6"></SkeletonItem>
                    </Skeleton>
                }
                else
                {
                    <h3>@(stat.DisplayValue)</h3>
                }
                <p class="m-0">@(stat.Name)</p>
            </div>
            <div class="stats-progress">
                <div class="progress-bar">
                    <div class="progress @(stat.Color)" style="width: @(stat.GrowthOrLoss > 0 ? stat.GrowthOrLoss : 0)%"></div>
                </div>
                <span>@(stat.GrowthOrLoss)% growth</span>
            </div>
        </div>
    }
</div>