@page "/Items/New"
@using Pikachu.Items;
@using Pikachu.Localization;
@using Microsoft.Extensions.Localization;
@inject IItemAppService AppService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<PikachuResource> L


<style>
    .row {
        margin-top: 10px;
    }
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }

    .flatpickr-calendar.static {
        top: auto !important
    }
</style>

<Card>
    <CardHeader>
        <HeadContent>
            <ModalTitle>@L["NewItem"]</ModalTitle>
        </HeadContent>
    </CardHeader>
    <CardBody>
        <div Class=" col-12 row">
                <div Class="col-2">
                    <FieldLabel>@L["ItemName"]</FieldLabel>
                </div>
                <div Class="col-9">
                   @* <TextEdit @bind-Text="@NewEntity.ItemName" MaxLength="@maxtextCount">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>*@
                </div>
                <div Class="col-1">
                    <Span>@(maxtextCount - NewEntity.ItemName.Count())/@maxtextCount</Span>
                </div>
            </div>
            <div Class="col-12 row">
                <div Class="col-2">
                    <FieldLabel>@L["ItemImage"]</FieldLabel>
                </div>
                <div Class="col-10">
                    <AntDesign.Upload Name="@L["ItemImage"]"
                    @bind-FileList="fileList"
                                      ShowButton="fileList?.Count < 8"
                                      ListType="picture-card"
                                      OnPreview="(file)=> {
            Console.WriteLine(file.FileName);
            Console.WriteLine(file.Url);
            previewVisible = true;
            previewTitle = file.FileName;
            imgUrl = file.Url;
            }"
                                      OnChange="HandleChange">
                        <div>
                            <Icon Type="plus"></Icon>
                            <div className="ant-upload-text">Upload</div>
                        </div>

                    </AntDesign.Upload>
                    <Modal Visible="previewVisible"
                           Title="previewTitle"
                           OnCancel="()=> previewVisible=false">
                        <img style="width: 100%" src="@imgUrl" />
                    </Modal>
                </div>
            </div>


        @*<Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemName"]</FieldLabel>
                </Div>
                <Div Class="col-9">
                    <TextEdit @bind-Text="@NewEntity.ItemName" MaxLength="@maxtextCount">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Div>
                <Div Class="col-1">
                    <Span>@(maxtextCount - NewEntity.ItemName.Count())/@maxtextCount</Span>
                </Div>
            </Div>

            <Div Class="col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemImage"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <AntDesign.Upload Name="@L["ItemImage"]"
                    @bind-FileList="fileList"
                                      ShowButton="fileList?.Count < 8"
                                      ListType="picture-card"
                                      OnPreview="(file)=> {
            Console.WriteLine(file.FileName);
            Console.WriteLine(file.Url);
            previewVisible = true;
            previewTitle = file.FileName;
            imgUrl = file.Url;
            }"
                                      OnChange="HandleChange">
                        <Div>
                            <Icon Type="plus"></Icon>
                            <Div className="ant-upload-text">Upload</Div>
                        </Div>

                    </AntDesign.Upload>
                    <Modal Visible="previewVisible"
                           Title="previewTitle"
                           OnCancel="()=> previewVisible=false">
                        <img style="width: 100%" src="@imgUrl" />
                    </Modal>
                </Div>
            </Div>

            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <Div Class="row">
                        <Div Class="col-11">
                            <Field>
                                <TextEdit Placeholder="@L["ItemDescriptionTitle"]" @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                        <Div Class="col-1">
                            <Span>
                                @(maxtextCount - NewEntity.ItemDescriptionTitle.Count())/@maxtextCount
                            </Span>
                        </Div>
                    </Div>
                    <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit>
                </Div>
            </Div>
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <Div Class="row">
                        <Div Class="col-11">
                            <Field>
                                <TextEdit Placeholder="@L["ItemDescriptionTitle"]" @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                        <Div Class="col-1">
                            <Span>
                                @(maxtextCount - NewEntity.ItemDescriptionTitle.Count())/@maxtextCount
                            </Span>
                        </Div>
                    </Div>
                    <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit>
                </Div>
            </Div>
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <Div Class="row">
                        <Div Class="col-11">
                            <Field>
                                <TextEdit Placeholder="@L["ItemDescriptionTitle"]" @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                        <Div Class="col-1">
                            <Span>
                                @(maxtextCount - NewEntity.ItemDescriptionTitle.Count())/@maxtextCount
                            </Span>
                        </Div>
                    </Div>
                    <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit>
                </Div>
            </Div>
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemStyle"]</FieldLabel>
                </Div>
                <Div Class="col-10" Style="padding:7px">
                    <Div Class="col-12">
                        <Field>
                            <TextEdit Placeholder="@L["ItemStyleKey"]" @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                        </Field>
                    </Div>
                    <Div Class="col-12">
                        <Div Class="col-1">
                        </Div>
                        <Div Class="col-10">
                            <Field>
                                <TextEdit Placeholder="@L["ItemStyleValue"]" @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                        <Div Class="col-1">
                        </Div>
                    </Div>
                    <Div Class="col-12">
                        <Button Color="Color.Light" Size="Size.Small" Active> @L["AddItemStyleButton"]</Button>
                    </Div>
                </Div>
            </Div>
            <Div Class="col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["PriceAndInventory"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <Table Borderless>
                        <TableHeader ThemeContrast="ThemeContrast.Light">
                            <TableRow>
                                <TableHeaderCell>@L["SKU"]</TableHeaderCell>
                                <TableHeaderCell>@L["SellPrice"]</TableHeaderCell>
                                <TableHeaderCell>@L["GroupByPrice"]</TableHeaderCell>
                                <TableHeaderCell>@L["SellableQuantity"]</TableHeaderCell>
                                <TableHeaderCell>@L["SellablePreorderQuantity"]</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                            </TableRow>
                            <TableRow>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                                <TableRowHeader>
                                    <Field>
                                        <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                                    </Field>
                                </TableRowHeader>
                            </TableRow>
                        </TableBody>
                    </Table>
                </Div>
            </Div>
            <Div Class="col-12 row">
                <Div Class="col-2">
                    <Div Class="col-2">
                        <FieldLabel>@L["CommodityAttributes"]</FieldLabel>
                    </Div>
                </Div>
                <Div Class="col-10 row">
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["TimeLimitPeriod"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <FieldBody>
                                    <DatePicker TValue="DateTime?" Placeholder="@L["StartDate"]" />
                                </FieldBody>
                                <FieldHelp>Format: DD/MM/YYYY</FieldHelp>
                            </Field>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <FieldBody>
                                    <DatePicker TValue="DateTime?" Placeholder="@L["EndDate"]" />
                                </FieldBody>
                                <FieldHelp>Format: DD/MM/YYYY</FieldHelp>
                            </Field>
                        </Div>
                    </Div>
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["LimitQuantity"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                    </Div>
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["ShareProfit"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                    </Div>
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["FreeShipping"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                    </Div>
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["ShippingMethod"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Field>
                                <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount" />
                            </Field>
                        </Div>
                    </Div>
                    <Div Class="col-12 row">
                        <Div Class="col-3">
                            <FieldLabel>@L["TaxType"]</FieldLabel>
                        </Div>
                        <Div Class="col-4">
                            <Select @bind-SelectedValue="@selectedValue">
                                <SelectItem Value="1">One</SelectItem>
                                <SelectItem Value="2">Two</SelectItem>
                                <SelectItem Value="3">Three</SelectItem>
                                <SelectItem Value="4">Four</SelectItem>
                            </Select>
                        </Div>
                    </Div>
                </Div>
            </Div>

        </Validations>*@
    </CardBody>
    <CardFooter Style="text-align: center">
       @* <Button Color="Color.Blue1" Type="ButtonType.Link" To="Items" Class="mr-3">
            @L["Cancel"]
        </Button>
        <Button Color="Color.Blue1" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true" Clicked="CreateEntityAsync">
            @L["Save"]
        </Button>
        <Button Color="Color.Gold4" Type="@ButtonType.Submit" PreventDefaultOnSubmit="true">
            @L["Preview Page"]
        </Button>*@
    </CardFooter>
</Card>

@code {
    int selectedValue;
}
