@page "/Items/New"
@using Pikachu.Items;
@using Pikachu.Localization;
@using Microsoft.Extensions.Localization;
@inject IItemAppService AppService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<PikachuResource> L


<style>
    .row {
        margin-top: 10px;
    }
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }
</style>

<Card>
    <CardHeader>
        <HeadContent>
            <ModalTitle>@L["NewItem"]</ModalTitle>
        </HeadContent>
    </CardHeader>
    <CardBody>
        <Validations  ValidateOnLoad="false">
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemName"]</FieldLabel>
                </Div>
                <Div Class="col-9">
               @*      <TextEdit @bind-Text="@NewEntity.ItemName" MaxLength="@maxtextCount">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit> *@
                </Div>
                <Div Class="col-1">
                    <Span>@(maxtextCount - NewEntity.ItemName.Count())/@maxtextCount</Span>
                </Div>
            </Div>

            <Div Class="col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemImage"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <AntDesign.Upload Name="@L["ItemImage"]"
                                      @bind-FileList="fileList"
                                      ShowButton="fileList?.Count < 8"
                                      ListType="picture-card"
                                      OnPreview="(file)=> {
                                                 Console.WriteLine(file.FileName);
                                                 Console.WriteLine(file.Url);
                                                 previewVisible = true;
                                                 previewTitle = file.FileName;
                                                 imgUrl = file.Url;
                                                 }"
                                      OnChange="HandleChange">
                        <Div>
                            <Icon Type="plus"></Icon>
                            <Div className="ant-upload-text">Upload</Div>
                        </Div>

                    </AntDesign.Upload>
                    <Modal Visible="previewVisible"
                           Title="previewTitle"
                           OnCancel="()=> previewVisible=false">
                        <img style="width: 100%" src="@imgUrl" />
                    </Modal>
                </Div>
            </Div>

            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescriptionTitle"]</FieldLabel>
                </Div>
                <Div Class="col-9">
         @*            <TextEdit @bind-Text="@NewEntity.ItemDescriptionTitle" MaxLength="@maxtextCount">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit> *@
                </Div>
                <Div Class="col-1">
                    <Span>
                        @(maxtextCount - NewEntity.ItemDescriptionTitle.Count())/@maxtextCount
                    </Span>
                </Div>
            </Div>

            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                @*     <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit> *@
                </Div>
            </Div>
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                 @*    <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit> *@
                </Div>
            </Div>
            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemDescription"]</FieldLabel>
                </Div>
                <Div Class="col-10">
            @*         <RichTextEdit @ref="richTextEditRef"
                                  Theme="RichTextEditTheme.Snow"
                                  ContentChanged="@OnContentChanged"
                                  PlaceHolder="Type your post here..."
                                  ReadOnly="@readOnly"
                                  SubmitOnEnter="false"
                                  EnterPressed="@OnSave"
                                  ToolbarPosition="Placement.Bottom">
                        <Editor>My example content</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Image" Value="Image" />
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit> *@
                </Div>
            </Div>

            <Div Class=" col-12 row">
                <Div Class="col-2">
                    <FieldLabel>@L["ItemTags"]</FieldLabel>
                </Div>
                <Div Class="col-10">
                    <TextEdit MaxLength="@maxtextCount">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Div>
            </Div>
        </Validations>
    </CardBody>
    <CardFooter>
        <Button  Type="@ButtonType.Link" To="Items" Class="mr-3">
            @L["Cancel"]
        </Button>
        <Button Type="@ButtonType.Primary" HtmlType="submit" PreventDefaultOnSubmit="true" Clicked="CreateEntityAsync">
            @L["Save"]
        </Button>
    </CardFooter>
</Card>

@code {

}
