@page "/Items/InventoryReport"

@using Volo.Abp.Application.Dtos
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Items
@using Kooco.Pikachu.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using System.Text.Json;
@using System.ComponentModel
@using Blazorise.Components

@inject IStringLocalizer<PikachuResource> L
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-6">
        <h3>@L["庫存報表"]</h3>
    </div>
    <div class="col-6 text-lg-end">
        <div class="d-inline-block me-1">
        <div class="input-group">
            <InputText class="form-control form-control-sm search-bar" @bind-Value="@FilterText" placeholder="@L["Search"]"></InputText>
            <Button Type="ButtonType.Button" Class="btn btn-sm btn-primary" Clicked="OnSearch">
                <i class="fa fa-search"></i>
            </Button>
        </div>
        </div>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-primary" Clicked="DownloadExcel" >
            <i class="fa fa-excel"></i>
            @L["Excel"]
        </Button>
     
    </div>
</div>
<Card>
    <CardBody>
        <DataGrid TItem="ItemDetailsDto"
                  Data="InventroyList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="Total"
                  ShowPager="true"
                  PageSize="PageSize"
                  SortChanged="OnSortChange">
            <DataGridColumns>
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.ItemName)"
                                Caption="@L["ItemName"]">

                </DataGridColumn>
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.SKU)"
                                Caption="@L["SKU"]">
                   
                </DataGridColumn>
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.StockOnHand)"
                                Caption="@L[PikachuResource.CurrentStock]">
                </DataGridColumn>
       
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.SaleableQuantity)"
                                Caption="@L[PikachuResource.AvailableStock]">
                </DataGridColumn>
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.PreOrderableQuantity)"
                                Caption="@L[PikachuResource.PreOrderQuantity]">
                </DataGridColumn>
                <DataGridColumn TItem="ItemDetailsDto"
                                Field="@nameof(ItemDetailsDto.SaleablePreOrderQuantity)"
                                Caption="@L[PikachuResource.AvailablePreOrderQuantity]">
                </DataGridColumn>
            </DataGridColumns>
            <FirstPageButtonTemplate>@L[PikachuResource.FirstPage]</FirstPageButtonTemplate>
            <PreviousPageButtonTemplate>@L[PikachuResource.PrevPage]</PreviousPageButtonTemplate>
            <NextPageButtonTemplate>@L[PikachuResource.NextPage]</NextPageButtonTemplate>
            <LastPageButtonTemplate>@L[PikachuResource.LastPage]</LastPageButtonTemplate>
        </DataGrid>
    </CardBody>
</Card>
@code {

}
<script>
    window.downloadFile = function (data) {
        debugger;
        var blob = new Blob([new Uint8Array(data.byteArray)], { type: data.contentType });
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = data.fileName;
        document.body.appendChild(a);
        a.click();
        window.URL.revokeObjectURL(url);
    }
</script>