@page "/Items"

@using Volo.Abp.Application.Dtos
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Items
@using Kooco.Pikachu.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using System.Text.Json;
@using System.ComponentModel
@using AntDesign.TableModels

@inject IStringLocalizer<PikachuResource> L
@inject NavigationManager NavigationManager

<div class="col-12 row">
    <div class="col-6">
        <h3>@L["Items"]</h3>
    </div>
    <div class="col-6" style="display: flex;flex-direction: row-reverse;">
        <Button Danger Type="@ButtonType.Primary" Style="margin-right:5px">@L["DeleteItem"]</Button>
        <Button Type="@ButtonType.Primary" Style="margin-right:5px; background-color:skyblue">@L["CopyItem"]</Button>
        <Button Type="@ButtonType.Primary" Style="margin-right:5px" OnClick="CreateNewItem">@L["NewItem"]</Button>
    </div>
</div>
<div>
    <Table @ref="table"
           TItem="ItemDto"
           DataSource="@itemList"
           Total="_total"
    @bind-PageIndex="_pageIndex"
    @bind-PageSize="_pageSize"
    @bind-SelectedRows="selectedRows"
           Size="TableSize.Small">
        <Selection Key="@(context.Id.ToString())" />
        <PropertyColumn Title="@L["ItemName"]" Property="item=>item.ItemName" />
        <PropertyColumn Title="@L["CreatedTime"]" Property="item=>item.CreationTime" Format="yyyy-MM-dd" />
        <PropertyColumn Title="@L["TurnItemOn"]" Property="item=>item.IsItemAvaliable">
            <Switch @bind-Value="@context.IsItemAvaliable" OnChange="() => OnItemAvaliablityChange(context.Id)"></Switch>
        </PropertyColumn>
    </Table>
</div>

@code {
    ITable table;
}