@using System
@using Kooco.Pikachu.Blazor.Pages.Dashboard.DashboardBestSellers
@using Kooco.Pikachu.Blazor.Pages.Dashboard.DashboardCharts
@using Kooco.Pikachu.Blazor.Pages.Dashboard.DashboardOrdersTable
@using Kooco.Pikachu.Blazor.Pages.Dashboard.DashboardStats
@using Kooco.Pikachu.Dashboards
@using Kooco.Pikachu.GroupBuys
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Reports
<link href="css/dashboard.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="js/dashboard.js"></script>

@attribute [Authorize]
@inherits PikachuComponentBase

@inject IDashboardAppService DashboardAppService
@inject IGroupBuyAppService GroupBuyAppService
@inject NavigationManager NavigationManager

<Card>
    <CardBody>
        <Row Gutter="(10, 10)">
            <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is3.OnFullHD">
                <Label>@L["Period"]</Label>
                <AntDesign.Select @bind-Value="@Filters.SelectedPeriodOption"
                                  TItem="ReportCalculationUnits?"
                                  TItemValue="ReportCalculationUnits?">
                    <SelectOptions>
                        @foreach (var item in PeriodOptions)
                        {
                            <AntDesign.SelectOption TItemValue="ReportCalculationUnits?" TItem="ReportCalculationUnits?" Value=@item Label="@L[item.ToString()]" />
                        }
                    </SelectOptions>
                </AntDesign.Select>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is4.OnFullHD">
                <Label>@L["TimeRange"]</Label>
                <AntDesign.RangePicker TValue="DateTime?[]" Value="@Filters.SelectedDateRange" />
            </Column>
            <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop.Is4.OnFullHD">
                <Label>@L["SpecificGroupBuys"]</Label>
                <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                  @bind-Values="@Filters.SelectedGroupBuyIds"
                                  EnableSearch
                                  HideSelected
                                  TItem="Guid"
                                  TItemValue="Guid">
                    <SelectOptions>
                        @foreach (var item in GroupBuyOptions)
                        {
                            <AntDesign.SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                        }
                    </SelectOptions>
                </AntDesign.Select>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.Is1.OnDesktop">
                <Div Class="d-flex align-items-end justify-content-center h-100">
                    <PikachuButton Class="pk-btn-sm pk-btn-outline-primary w-100"
                                   IconClass="fas fa-filter" Clicked="ApplyFilters"
                                   Loading="Loading">
                    </PikachuButton>
                </Div>
            </Column>
        </Row>
    </CardBody>
</Card>

<Div>
    <DashboardStats Value="DashboardStats" Loading="Loading"></DashboardStats>
</Div>
<Div>
    <DashboardCharts @ref="_dashboardCharts" Loading="Loading"></DashboardCharts>
</Div>

<Row>
    <Column ColumnSize="ColumnSize.Is12.Is8.OnFullHD">
        <Card>
            <CardBody>
                <Div Class="d-flex align-items-start justify-content-between">
                    <h4 class="m-0">@L["RecentOrders"]</h4>
                    <Button Class="btn-link" Clicked="@(() => NavigationManager.NavigateTo("/Orders"))">@L["ViewAll"]</Button>
                </Div>
                <Divider></Divider>
                @if (Loading)
                {
                    <SkeletonTable Rows="5" Columns="6" />
                }
                else
                {
                    <DataGrid TItem="DashboardOrdersDto"
                              Data="RecentOrdersList"
                              ReadData="OnDataGridReadAsync"
                              TotalItems="RecentOrdersCount"
                              ShowPager="true"
                              PageSize="PageSize"
                              CurrentPage="CurrentPage"
                              Narrow
                              Responsive
                              Sortable="false"
                              Class="rm-table-min-height text-dark">
                        <DataGridColumns>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Field="@nameof(DashboardOrdersDto.OrderNo)"
                                            Caption="@L["OrderNo"]">
                            </DataGridColumn>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Field="@nameof(DashboardOrdersDto.CustomerName)"
                                            Caption="@L["Customer"]">
                            </DataGridColumn>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Field="@nameof(DashboardOrdersDto.GroupBuyName)"
                                            Caption="@L["GroupBuy"]">
                            </DataGridColumn>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Field="@nameof(DashboardOrdersDto.TotalAmount)"
                                            Caption="@L["Amount"]">
                                <DisplayTemplate>
                                    <Span>@Constant.CurrencySymbol</Span>@context.TotalAmount.ToString("N2")
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Field="@nameof(DashboardOrdersDto.ShippingStatus)"
                                            Caption="@L["Status"]"
                                            TextAlignment="TextAlignment.Center">
                                <DisplayTemplate>
                                    <ShippingStatusBadge Status="context.ShippingStatus"></ShippingStatusBadge>
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="DashboardOrdersDto"
                                            Caption="@L["Actions"]"
                                            TextAlignment="TextAlignment.Center">
                                <DisplayTemplate>
                                    <PikachuButton Class="pk-btn-sm pk-btn-icon" IconClass="fas fa-edit"
                                                   Clicked="@(() => NavigationManager.NavigateTo($"Orders/OrderDetails/{context.Id}"))">
                                    </PikachuButton>
                                </DisplayTemplate>
                            </DataGridColumn>
                        </DataGridColumns>
                    </DataGrid>
                }
            </CardBody>
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is12.Is4.OnFullHD">
        <DashboardBestSellers Values="BestSeller" Loading="Loading"></DashboardBestSellers>
    </Column>
</Row>