@page "/CashFlowManagement/ElectronicInvoiceSetting"
@using Kooco.Pikachu.EnumValues;
@using Pikachu.Items;
@using Pikachu.Localization;
@using Microsoft.Extensions.Localization;
@using System.ComponentModel
@using Blazorise.Components;
@using Kooco.Pikachu.Orders.Invoices;
@using InvoiceType = Kooco.Pikachu.Orders.Invoices.InvoiceType;

@inject NavigationManager NavigationManager
@inject IStringLocalizer<PikachuResource> L
@inject IStringLocalizer<PageLayoutResource> PL
@inject IMessageService _message
@attribute [Authorize]

<style>
    .row {
        margin-top: 10px;
    }

    .site-tag-plus {
        background: #fff;
        border-style: dashed;
    }
    /* you can make up upload button and sample style by using stylesheets */
    .ant-upload-select-picture-card i {
        color: #999;
        font-size: 32px;
    }

    .ant-upload-select-picture-card .ant-upload-text {
        margin-top: 8px;
        color: #666;
    }

    .anticon {
        vertical-align: 0.1em !important
    }

</style>


<div class="col-12">
    <div>
        <h3>@L["電子發票設定"]</h3>
    </div>
    <Card>
        <CardBody>
            <Validations @ref="@CreateValidationsRef" Model="@ResultDto" ValidateOnLoad="false">
                <!-- Use ECPay electronic receipt -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end">
                        <FieldLabel>@L["UseECPayelectronicreceipt"]</FieldLabel>
                    </div>
                    <div class="col-9">
                        <Switch TValue="bool" Disabled="@(!CanSave)" @bind-Checked="@ResultDto.IsEnable"></Switch>
                        @if (!CanSave)
                        {
                            <AntDesign.Alert Type="@AntDesign.AlertType.Error"
                                             Message="@L["Error"]"
                                             Description="@L["PleaseFillInTheRequiredInformation."]"
                                             ShowIcon="true" />
                        }
                        else
                        {
                            <AntDesign.Alert Type="@AntDesign.AlertType.Info"
                                             Message="@L["Info"]"
                                             Description="@L["Ifthissettingisturnedoff,pleaseprinttheinvoiceforthecustomer"]"
                                             ShowIcon="true" />
                        }
                    </div>
                </div>

                <!-- Store Code -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["MerchantID"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <TextEdit class="form-control"
                                      @bind-Text="@ResultDto.StoreCode">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </div>
                </div>

                <!-- Hash Key -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["HashKey"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <TextEdit class="form-control"
                                      @bind-Text="@ResultDto.HashKey">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </div>
                </div>

                <!-- Hash IV -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["HashIV"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <TextEdit class="form-control"
                                      @bind-Text="@ResultDto.HashIV">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </div>
                </div>

                <!-- Display Invoice Name -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["InvoiceNameDisplay"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <TextEdit class="form-control"
                                      @bind-Text="@ResultDto.DisplayInvoiceName">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                            </TextEdit>
                        </Validation>
                    </div>
                </div>

                <!-- Display Invoice Type -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@PL["Order:InvoiceType"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <Select TValue="InvoiceType"
                                    class="form-control"
                                    @bind-SelectedValue="@ResultDto.InvoiceType">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                                <ChildContent>
                                    <SelectItem Value="0"></SelectItem>
                                    @foreach (var status in Enum.GetValues<InvoiceType>())
                                    {
                                        <SelectItem Value="@status">@PL[$"{nameof(InvoiceType)}:{status.ToString()}"]</SelectItem>
                                    }
                                </ChildContent>
                            </Select>
                        </Validation>
                    </div>
                </div>

                <!-- Days After Shipment -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["DaysAfterShipmentToGenerateInvoice"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <NumericEdit TValue="int"
                                         Min="0"
                                         Max="90"
                                         class="form-control"
                                         @bind-Value="@ResultDto.DaysAfterShipmentGenerateInvoice">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                            </NumericEdit>
                        </Validation>
                    </div>
                </div>

                <!-- Status On Invoice Issue -->
                <div class="col-12 row mb-3">
                    <div class="col-3 text-lg-end pt-2">
                        <label class="form-label required">@L["StatusOnInvoiceIssue"]</label>
                    </div>
                    <div class="col-9">
                        <Validation>
                            <Select TValue="DeliveryStatus"
                                    class="form-control"
                                    @bind-SelectedValue="@ResultDto.StatusOnInvoiceIssue">
                                <Feedback>
                                    <ValidationError></ValidationError>
                                </Feedback>
                                <ChildContent>
                                    <SelectItem Value="@((DeliveryStatus?)null)"></SelectItem>
                                    @foreach (var status in Enum.GetValues<DeliveryStatus>())
                                    {
                                        <SelectItem Value="@status">@L[status.ToString()]</SelectItem>
                                    }
                                </ChildContent>
                            </Select>
                        </Validation>
                    </div>
                </div>
            </Validations>
        </CardBody>
    </Card>
</div>

<div class="row">
    <div class="col-12 text-lg-end">
        <Button Type="@ButtonType.Button"
                class="btn btn-primary"
                Clicked="CreateEntityAsync"
                Disabled="@(!CanSave)">
            <i class="fa fa-check"></i>
            @L["Save"]
        </Button>
    </div>
</div>

@code {
    private bool CanSave => true; //IsValid()

    // private bool IsValid()
    // {
    //     // Ensure all required fields are not null or empty and match validation rules.
    //     var result = !string.IsNullOrWhiteSpace(ResultDto.StoreCode)
    //         && !string.IsNullOrWhiteSpace(ResultDto.HashKey)
    //         && !string.IsNullOrWhiteSpace(ResultDto.HashIV)
    //         && !string.IsNullOrWhiteSpace(ResultDto.DisplayInvoiceName)
    //         && (ResultDto.DaysAfterShipmentGenerateInvoice && ResultDto.DaysAfterShipmentGenerateInvoice > -1)
    //         && (ResultDto.StatusOnInvoiceIssue && Enum.IsDefined(typeof(DeliveryStatus), ResultDto.StatusOnInvoiceIssue));
    //     if (!result)
    //     {
    //         ResultDto.IsEnable = false;
    //     }
    //     return result;
    // }
}