@page "/TenantManagement/TenantWalletDetails/{PreviousPage}/{Id:guid}"
@attribute [Authorize(PikachuPermissions.TenantWallet.Default)]
@inherits FormComponentBase

<Div Class="rounded-cards">
    <PikachuButton Clicked="OnNavigateBack">
        <Icon Name="IconName.ArrowLeft" Class="me-1"></Icon>
        @L["Tenant"]
    </PikachuButton>
    @if (Tenant != null && Wallet != null)
    {
        <Card>
            <CardBody>
                <Div Class="text-dark d-flex align-items-start justify-content-between">
                    <Div>
                        <Heading Size="HeadingSize.Is4"
                                 Class="m-0 mb-1">
                            @Tenant.Name
                        </Heading>
                        @L["WalletId"]:
                        <Span Class="bg-lightgrey rounded-3"
                              Style="padding: 1px 10px;">
                            <Copy Text="@Wallet.Id"
                                  ShouldDisplayIcon="false" />
                        </Span>
                    </Div>
                </Div>
            </CardBody>
        </Card>

        <Tabs RenderMode="TabsRenderMode.LazyLoad"
              SelectedTabChanged="@OnSelectedTab"
              SelectedTab="@SelectedTab">
            <Items>
                <Tab Name="ManageWallet">@L["Wallet:ManageWallet"]</Tab>
                <Tab Name="AwaitingAudit">@L["Wallet:AwaitingAudit"]</Tab>
                <Tab Name="WalletDetailsRecord">@L["Wallet:WalletDetailsRecord"]</Tab>
            </Items>
            <Content>
                <TabPanel Name="ManageWallet">
                    <ManageWallet Id="@Wallet.Id" />
                </TabPanel>
                <TabPanel Name="AwaitingAudit">
                    <AwaitingAudit />
                </TabPanel>
                <TabPanel Name="WalletDetailsRecord" >
                      @if (SelectedTab == "WalletDetailsRecord")
        {
            <WalletDetailsRecord WalletId="@Wallet.Id"  />
        }
                </TabPanel>
            </Content>
        </Tabs>
    }
    else
    {
        <Div Class="text-center">
            <Span Class="spinner-border text-primary"></Span>
        </Div>
    }
</Div>