@page "/Campaigns/Create"
@page "/Campaigns/Edit/{Id:guid}"
@using Blazorise.FluentValidation
@using FluentValidation
@using Kooco.Pikachu.Blazor.Pages.Components.Icons
@using Kooco.Pikachu.Campaigns
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.GroupBuys
@using Kooco.Pikachu.Items
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Members.MemberTags
@using Volo.Abp.AspNetCore.Components.Web
@inherits PikachuComponentBase
@inject NavigationManager NavigationManager
@inject IValidator<CreateCampaignDto> CreateCampaignValidator
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH
@inject ICampaignAppService CampaignAppService
@inject IGroupBuyAppService GroupBuyAppService
@inject IItemAppService ItemAppService
@inject IMemberTagAppService MemberTagAppService

<style>
    .form-group[indent] {
        width: calc(50% - 25px - 1rem);
        margin-left: 25px;
    }

    .form-group[mb0] {
        margin-bottom: 0px;
    }
</style>
<Div Class="rounded-cards">
    <Div Class="d-flex align-items-center">
        <PikachuButton Clicked="@Cancel">
            <Icon Name="IconName.ArrowLeft" Class="me-1"></Icon>
        </PikachuButton>
        <h4 class="text-dark m-0">
            @L["CreateNewCampaign"]
        </h4>
    </Div>
    <Form>
        <Validations @ref="ValidationsRef" Model="@Entity" ValidateOnLoad="false" HandlerType="typeof(FluentValidationHandler)">
            <EditForm EditContext="_editContext">
                <Row>
                    <Column ColumnSize="ColumnSize.Is9">
                        <Card>
                            <CardBody>
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel required>@L["CampaignName"]</FieldLabel>
                                        <TextEdit @bind-Text="Entity.Name" Placeholder="@L["EnterCampaignName"]">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is6">
                                        <Validation MessageLocalizer="@LH.Localize">
                                            <Field>
                                                <FieldLabel required>@L["StartDate"]</FieldLabel>
                                                <DatePicker TValue="DateTime?" @bind-Date="Entity.StartDate">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </DatePicker>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is6">
                                        <Validation MessageLocalizer="@LH.Localize">
                                            <Field>
                                                <FieldLabel required>@L["EndDate"]</FieldLabel>
                                                <DatePicker TValue="DateTime?" @bind-Date="Entity.EndDate">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </DatePicker>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["CampaignDescription"]</FieldLabel>
                                        <MemoEdit Rows="7" @bind-Text="Entity.Description" Placeholder="@L["EnterCampaignDescription"]">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </MemoEdit>
                                    </Field>
                                </Validation>
                                <Field>
                                    <FieldLabel required>@L["TargetAudience"]</FieldLabel>
                                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                                      Size="AntDesign.InputSize.Large"
                                                      TItem="string"
                                                      TItemValue="string"
                                                      MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                                      EnableSearch
                                                      AllowClear
                                                      HideSelected
                                                      Class="@ValidationClass(nameof(Entity.TargetAudience))"
                                                      @bind-Values="Entity.TargetAudience">
                                        <SelectOptions>
                                            @foreach (var item in TargetAudienceOptions)
                                            {
                                                <AntDesign.SelectOption TItemValue="string" TItem="string" Value=@item Label=@L[item] />
                                            }
                                        </SelectOptions>
                                    </AntDesign.Select>
                                    <ValidationMessage For="() => Entity.TargetAudience" />
                                </Field>
                                <Field>
                                    <FieldLabel required>@L["PromotionModule"]</FieldLabel>
                                    <Div Class="promotion-modules">
                                        @foreach (PromotionModule module in Enum.GetValues<PromotionModule>())
                                        {
                                            <div class="promotion-module @(Entity.PromotionModule == module ? "active" : "")" @onclick="(() => Entity.PromotionModule = module)">
                                                <PromotionModulesSvg Module="module"></PromotionModulesSvg>
                                                <h4 class="module-title">@L["Enum:PromotionModule." + (int)module]</h4>
                                                <text class="module-description">@L["Enum:PromotionModuleDescription." + (int)module]</text>
                                            </div>
                                        }
                                    </Div>
                                    <ValidationMessage For="() => Entity.PromotionModule" />
                                </Field>

                                @if (Entity.PromotionModule == PromotionModule.Discount)
                                {
                                    <DiscountComponent Entity="Entity" EditContext="_editContext" LH="LH" />
                                }

                                @if (Entity.PromotionModule == PromotionModule.ShoppingCredit)
                                {
                                    <ShoppingCreditComponent Entity="Entity" EditContext="_editContext" LH="LH" />
                                }

                                @if (Entity.PromotionModule == PromotionModule.AddOnProduct)
                                {
                                    <AddOnProductComponent Entity="Entity" EditContext="_editContext" LH="LH" ProductOptions="ProductOptions" />
                                }

                                @if (Entity.PromotionModule.HasValue)
                                {
                                    <Divider></Divider>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel required>@L["Groupbuys"]</FieldLabel>
                                            <RadioGroup Orientation="Orientation.Vertical" TValue="bool?" Name="Groupbuys" @bind-CheckedValue="@Entity.ApplyToAllGroupBuys">
                                                <ChildContent>
                                                    <Radio TValue="bool?" Value="@true">@L["AllGroupBuys"]</Radio>
                                                    <Radio TValue="bool?" Value="@false">@L["SpecificGroupBuys"]</Radio>
                                                </ChildContent>
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </RadioGroup>
                                            @if (Entity.ApplyToAllGroupBuys == false)
                                            {
                                                <Field indent mb0>
                                                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                                                      Size="AntDesign.InputSize.Large"
                                                                      TItem="Guid"
                                                                      TItemValue="Guid"
                                                                      Placeholder="@L["SelectGroupBuys"]"
                                                                      EnableSearch
                                                                      AllowClear
                                                                      MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                                                      Class="@ValidationClass(nameof(Entity.GroupBuyIds))"
                                                                      OnSelectedItemsChanged="() => _editContext.NotifyFieldChanged(new FieldIdentifier(Entity, nameof(Entity.GroupBuyIds)))"
                                                                      @bind-Values="Entity.GroupBuyIds">
                                                        <SelectOptions>
                                                            @foreach (var item in GroupBuyOptions)
                                                            {
                                                                <AntDesign.SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                                                            }
                                                        </SelectOptions>
                                                    </AntDesign.Select>
                                                    <ValidationMessage For="() => Entity.GroupBuyIds" />
                                                </Field>
                                            }
                                        </Field>
                                    </Validation>
                                }

                                @if (Entity.PromotionModule == PromotionModule.Discount || Entity.PromotionModule == PromotionModule.ShoppingCredit)
                                {
                                    <Divider></Divider>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel required>@L["Products"]</FieldLabel>
                                            <RadioGroup Orientation="Orientation.Vertical" TValue="bool?" Name="Products" @bind-CheckedValue="@Entity.ApplyToAllProducts">
                                                <ChildContent>
                                                    <Radio TValue="bool?" Value="@true">@L["AllProducts"]</Radio>
                                                    <Radio TValue="bool?" Value="@false">@L["SpecificProducts"]</Radio>
                                                </ChildContent>
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </RadioGroup>
                                            @if (Entity.ApplyToAllProducts == false)
                                            {
                                                <Field indent mb0>
                                                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                                                      Size="AntDesign.InputSize.Large"
                                                                      TItem="Guid"
                                                                      TItemValue="Guid"
                                                                      Placeholder="@L["SelectProducts"]"
                                                                      EnableSearch
                                                                      AllowClear
                                                                      MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                                                      Class="@ValidationClass(nameof(Entity.ProductIds))"
                                                                      OnSelectedItemsChanged="() => _editContext.NotifyFieldChanged(new FieldIdentifier(Entity, nameof(Entity.ProductIds)))"
                                                                      @bind-Values="Entity.ProductIds">
                                                        <SelectOptions>
                                                            @foreach (var item in ProductOptions)
                                                            {
                                                                <AntDesign.SelectOption TItemValue="Guid" TItem="Guid" Value=@item.Id Label=@item.Name />
                                                            }
                                                        </SelectOptions>
                                                    </AntDesign.Select>
                                                    <ValidationMessage For="() => Entity.ProductIds" />
                                                </Field>
                                            }
                                        </Field>
                                    </Validation>
                                }
                            </CardBody>
                        </Card>
                        <Div Class="text-end mt-2">
                            <PikachuButton Class="pk-btn-transparent" Disabled="Loading" Clicked="Cancel">@L["Cancel"]</PikachuButton>
                            <PikachuButton Class="pk-btn-primary" Loading="Loading" Clicked="Save">@L["CreateCampaign"]</PikachuButton>
                        </Div>
                    </Column>
                </Row>
            </EditForm>
        </Validations>
    </Form>
</Div>