@page "/Tenant-Settings"
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.TenantManagement
@using Volo.Abp.AspNetCore.Components.Notifications
@using Volo.Abp.AspNetCore.Components.Web
@attribute [Authorize(PikachuPermissions.TenantSettings.Default)]
@inherits PikachuComponentBase
@inject NavigationManager NavigationManager
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH
@inject ITenantSettingsAppService TenantSettingsAppService
@inject IUiNotificationService UiNotificationService

<Div Class="rounded-cards tenant-settings">
    <Card>
        <CardBody>
            <Div Class="text-dark d-flex align-items-center justify-content-between">
                <Div>
                    <h4 class="m-0 mb-1">@CurrentTenant?.Name</h4>
                    @L["TenantId"]:
                    <Span Class="bg-lightgrey rounded-3" Style="padding: 1px 10px;">
                        <Copy Text="@CurrentTenant?.Id" ShouldDisplayIcon="false"></Copy>
                    </Span>
                </Div>
                @if (CanEditTenantSettings && ViewMode)
                {
                    <PikachuButton Class="pk-btn-light" Clicked="@(() => ViewMode = false)">
                        @L["Edit"]
                        <Icon Name="IconName.Pen" Class="ms-1"></Icon>
                    </PikachuButton>
                }
            </Div>
        </CardBody>
    </Card>
    @if (Entity != null)
    {
        <Card>
            <CardBody>
                <Form>
                    <Validations @ref="@ValidationsRef" Model="@Entity" ValidateOnLoad="false">
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["TenantSettings"]</h4>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is12">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["WebpageTitle"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.WebpageTitle" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["CompanyName"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.CompanyName" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["BusinessRegistrationNumber"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.BusinessRegistrationNumber" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["ContactPhone"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.ContactPhone" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["CustomerServiceEmail"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.CustomerServiceEmail" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </Column>
                        </Row>
                        <Divider></Divider>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["ServiceHours"]</h4>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["From"]</FieldLabel>
                                                <TimeEdit TValue="DateTime?" @bind-Time="Entity.ServiceHoursFrom" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TimeEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is6.OnDesktop">
                                        <Validation>
                                            <Field>
                                                <FieldLabel>@L["To"]</FieldLabel>
                                                <TimeEdit TValue="DateTime?" @bind-Time="Entity.ServiceHoursTo" Disabled="@ViewMode">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TimeEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </Column>
                        </Row>
                        <Divider></Divider>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["PrivacyPolicy"]</h4>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Validation>
                                    <Field>
                                        <MemoEdit Rows="5" @bind-Text="Entity.PrivacyPolicy" Disabled="@ViewMode">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </MemoEdit>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Divider></Divider>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["Logo"]</h4>
                                @if (Entity.LogoBase64 != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@("data:image/png;base64," + Entity.LogoBase64)" class="img-fluid" />
                                    </Div>
                                }
                                else if (Entity.LogoUrl != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@Entity.LogoUrl" class="img-fluid" />
                                    </Div>
                                }
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Field Class="container-less-filepicker">
                                    <FilePicker Changed="@((e) => OnFileUploadAsync(e, "logo"))"
                                                ShowMode="FilePickerShowMode.List"
                                                Accept="@(string.Join(", ", Constant.ValidImageExtensions))"
                                                Disabled="@ViewMode">
                                        <FileTemplate></FileTemplate>
                                        <ButtonsTemplate></ButtonsTemplate>
                                    </FilePicker>
                                </Field>
                            </Column>
                        </Row>
                        <Divider></Divider>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["Banner"]</h4>
                                @if (Entity.BannerBase64 != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@("data:image/png;base64," + Entity.BannerBase64)" class="img-fluid" />
                                    </Div>
                                }
                                else if (Entity.BannerUrl != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@Entity.BannerUrl" class="img-fluid" />
                                    </Div>
                                }
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Field Class="container-less-filepicker">
                                    <FilePicker Changed="@((e) => OnFileUploadAsync(e, "banner"))"
                                                ShowMode="FilePickerShowMode.List"
                                                Accept="@(string.Join(", ", Constant.ValidImageExtensions))"
                                                Disabled="@ViewMode">
                                        <FileTemplate></FileTemplate>
                                        <ButtonsTemplate></ButtonsTemplate>
                                    </FilePicker>
                                </Field>
                            </Column>
                        </Row>
                        <Divider></Divider>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <h4>@L["Favicon"]</h4>
                                @if (Entity.FaviconBase64 != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@("data:image/png;base64," + Entity.FaviconBase64)" class="img-fluid" />
                                    </Div>
                                }
                                else if (Entity.FaviconUrl != null)
                                {
                                    <Div Class="image-thumbnail">
                                        <img src="@Entity.FaviconUrl" class="img-fluid" />
                                    </Div>
                                }
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Field Class="container-less-filepicker">
                                    <FilePicker Changed="@((e) => OnFileUploadAsync(e, "favicon"))"
                                                ShowMode="FilePickerShowMode.List"
                                                Accept="@(string.Join(", ", Constant.ValidFaviconExtensions))"
                                                Disabled="@ViewMode">
                                        <FileTemplate></FileTemplate>
                                        <ButtonsTemplate></ButtonsTemplate>
                                    </FilePicker>
                                </Field>
                            </Column>
                        </Row>
                    </Validations>
                </Form>
            </CardBody>
        </Card>
        @if (CanEditTenantSettings && !ViewMode)
        {
            <Div Class="text-end">
                <PikachuButton Class="pk-btn-transparent" Disabled="IsLoading" Loading="IsCancelling" Clicked="CancelAsync">
                    @L["Cancel"]
                </PikachuButton>
                <PikachuButton Class="pk-btn-primary" Disabled="IsCancelling" Loading="IsLoading" Clicked="UpdateAsync">
                    @L["Update"]
                </PikachuButton>
            </Div>
        }
    }
</Div>


