@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.ShopCarts
@using Kooco.Pikachu.Items.Dtos
@inherits PikachuComponentBase
@inject IShopCartAppService ShopCartAppService

<Modal @ref="ModalRef" Closing="@OnModalClosing">
    <ModalContent Size="ModalSize.ExtraLarge" IsCentered="true">
        <ModalHeader>
            <Div Class="header-details">
                <ModalTitle Class="header-title">
                    <Div Class="d-flex align-items-center gap-1">
                        <Div Class="member-image">
                            <img class="img-fluid rounded-circle"
                                 src="@MemberConsts.GetAvatarUrl(Selected?.Gender)"
                                 alt="Member Avatar" />
                        </Div>
                        <Div>
                            <h5 class="m-0">@Selected.UserName</h5>
                            <Span Class="fs-6">@Selected.GroupBuyName</Span>
                        </Div>
                    </Div>
                </ModalTitle>
                <Div Class="product-input-group">
                    <Span Class="input-group-icon">
                        <i class="fas fa-list-check" />
                    </Span>
                    <AntDesign.Select AllowClear
                                      ShowArrowIcon
                                      EnableSearch
                                      TItem="ItemWithItemTypeDto"
                                      TItemValue="ItemWithItemTypeDto"
                                      Placeholder="@L["AddProduct"]"
                                      Size="AntDesign.InputSize.Large"
                                      IgnoreItemChanges="@false"
                                      @bind-Value="SelectedItem"
                                      OnSelectedItemChanged="OnSelectedItemChanged">
                        <SelectOptions>
                            @foreach (var option in ProductOptions)
                            {
                                <AntDesign.SelectOption TItem="ItemWithItemTypeDto" TItemValue="ItemWithItemTypeDto" Value="@option" Label="@option.Name" />
                            }
                        </SelectOptions>
                    </AntDesign.Select>
                </Div>
            </Div>
        </ModalHeader>
        <ModalBody>
            @if (ItemsLoading)
            {
                <Div Class="d-flex align-items-center justify-content-center p-5">
                    <Div Class="spinner-border"></Div>
                </Div>
            }
            else
            {
                @if (CartItems.Any())
                {
                    foreach (var cartItem in CartItems)
                    {
                        <div class="row item-row align-items-center py-2 border-bottom">
                            <div class="col-8 d-flex align-items-center gap-3">
                                <div>
                                    <img src="@cartItem.Image" style="width: 60px; height: 60px;" />
                                </div>
                                <div>
                                    <div class="fw-bold">@cartItem.ItemName</div>
                                    @if (cartItem.ItemType == ItemType.Item)
                                    {
                                        @if (cartItem.Id.HasValue)
                                        {
                                            <div class="text-muted small">@cartItem.ItemDetail</div>
                                        }
                                        else
                                        {
                                            <AntDesign.Select AllowClear
                                                              ShowArrowIcon
                                                              EnableSearch
                                                              TItem="Guid?"
                                                              TItemValue="Guid?"
                                                              Placeholder="@L["SelectItem"]"
                                                              IgnoreItemChanges="@false"
                                                              @bind-Value="cartItem.ItemDetailId"
                                                              Class="@(cartItem.IsInvalid ? "is-invalid" : "")"
                                                              OnSelectedItemChanged="@((e) => OnSelectedDetailChanged(cartItem, e))"
                                                              Style="width: 250px">
                                                <SelectOptions>
                                                    @foreach (var option in cartItem.Details)
                                                    {
                                                        <AntDesign.SelectOption TItem="Guid?" TItemValue="Guid?" Value="@option.Id" Label="@option.Name"
                                                                                Disabled="@(CartItems.Where(ci => ci != cartItem && ci.ItemId == cartItem.ItemId).Select(ci => ci.ItemDetailId).Contains(option.Id))" />
                                                    }
                                                </SelectOptions>
                                            </AntDesign.Select>
                                            <Div Class="invalid-feedback">@L["ThisFieldIsRequired"]</Div>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="col-2" style="position: relative;">
                                <div class="qty-box w-100 d-flex align-items-center justify-content-center">
                                    <button class="minus-button" @onclick="@(() => MinusQuantity(cartItem))">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <span class="px-2 fw-bold flex-grow-1 text-center">@cartItem.Quantity</span>
                                    <button class="add-button" @onclick="@(() => AddQuantity(cartItem))">
                                        <i class="fas fa-add"></i>
                                    </button>
                                </div>
                                <div class="text-muted small stock-div">@L["Stock"]: @cartItem.Stock</div>
                            </div>

                            <div class="col-1 text-end fw-bold">
                                $@cartItem.Amount.ToString("N0")
                            </div>

                            <div class="col-1 text-end">
                                <PikachuButton Class="pk-btn-sm pk-btn-icon danger rounded-5"
                                               IconClass="fas fa-times fa-lg"
                                               Clicked="() => RemoveItem(cartItem)" />
                            </div>
                        </div>
                    }
                    <div class="row item-row align-items-center py-2 text-dark">
                        <div class="col-8 d-flex align-items-center gap-3">
                            <div style="width: 60px;"></div>
                            <div>
                                <div class="fw-bold text-dark text-uppercase">@L["Total"]</div>
                            </div>
                        </div>

                        <div class="col-2 text-center fw-bold">
                            @CartItems?.Sum(ci => ci.Quantity)
                        </div>

                        <div class="col-1 text-end fw-bold">
                            $@CartItems?.Sum(ci => ci.Amount).ToString("N0")
                        </div>

                        <div class="col-1 text-end">
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <img class="img-fluid" src="/images/icons/empty-cart.png" style="height: 150px;" alt="@L["EmptyCart"]" />
                    </div>
                }
            }
        </ModalBody>
        <ModalFooter>
            <PikachuButton Class="pk-btn-sm pk-btn-danger"
                           Clicked="Hide"
                           Disabled="Loading">
                @L["Cancel"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-sm pk-btn-primary"
                           Clicked="Save"
                           Loading="Loading">
                @L["Save"]
            </PikachuButton>
        </ModalFooter>
    </ModalContent>
</Modal>

<style>
    .header-details {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .header-title {
        flex: 1;
    }

    .product-input-group {
        position: relative;
    }

        .product-input-group .input-group-icon {
            position: absolute;
            top: 7px;
            left: 6px;
            z-index: 9;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #2A4469;
        }

        .product-input-group .ant-select {
            min-width: 450px;
        }

            .product-input-group .ant-select .ant-select-selector {
                padding-left: 38px !important;
            }

            .product-input-group .ant-select .ant-select-selection-search-input {
                padding-left: 28px !important;
            }

    .qty-box {
        border: 1px solid lightgrey;
        padding: 2px;
        border-radius: 5px;
    }

        .qty-box button {
            border: none;
            border-radius: 5px;
            padding: 3px 9px;
        }

    .add-button {
        background: #ff9f38;
        color: #fff;
    }

        .add-button:hover {
            background: #f69936;
        }

        .add-button:active {
            background: #ff9727;
        }

    .minus-button {
        background: #fff3e7;
        color: #ff9f38
    }

        .minus-button:hover {
            background: #fff2e4;
        }

        .minus-button:active {
            background: #fbe8d3;
        }

    .stock-div {
        position: absolute;
        left: 20px;
    }

    .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 5px;
    }
</style>