@page "/Website-Basic-Settings"
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Images
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.WebsiteManagement
@using Volo.Abp.AspNetCore.Components.Notifications
@using Volo.Abp.AspNetCore.Components.Web
@attribute [Authorize(PikachuPermissions.WebsiteSettings.Default)]
@inherits PikachuComponentBase
@inject IWebsiteSettingsAppService WebsiteSettingsAppService
@inject NavigationManager NavigationManager
@inject IUiNotificationService UiNotificationService
@inject IImageAppService ImageAppService
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH

<h3 class="text-dark text-center">@L["WebsiteManagement"]</h3>

<Div Class="rounded-cards">
    <Card>
        <CardBody>
            <Validations @ref="@ValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                        <h4>
                            @L["BasicSettings"]
                        </h4>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                        <Field>
                            <Switch TValue="bool"><FieldLabel Class="text-dark">@L["Enable/Disable"]</FieldLabel></Switch>
                        </Field>
                        <Row>
                            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["StoreTitle"] *</FieldLabel>
                                        <TextEdit @bind-Text="@NewEntity.StoreTitle">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                            </Column>
                            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                        <FieldLabel>@L["TitleDisplayOption"] *</FieldLabel>
                                        <Select TValue="WebsiteTitleDisplayOptions?" @bind-SelectedValue="@NewEntity.TitleDisplayOption">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                            <ChildContent>
                                                <SelectItem Value="(WebsiteTitleDisplayOptions?)null"></SelectItem>
                                                @foreach (WebsiteTitleDisplayOptions option in Enum.GetValues(typeof(WebsiteTitleDisplayOptions)))
                                                {
                                                    <SelectItem Value="option">@L["Enum:WebsiteTitleDisplayOptions." + (int)option]</SelectItem>
                                                }
                                            </ChildContent>
                                        </Select>
                                    </Field>
                                </Validation>
                            </Column>
                        </Row>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Description"]</FieldLabel>
                                <MemoEdit @bind-Text="@NewEntity.Description" Rows="6">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </MemoEdit>
                            </Field>
                        </Validation>
                    </Column>
                </Row>
                <Divider></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                        <h4>@L["Logo"]</h4>
                        @if (LogoBase64 != null)
                        {
                            <Div Class="image-thumbnail">
                                <img src="@("data:image/png;base64," + LogoBase64)" class="img-fluid" />
                            </Div>
                        }
                        else if (NewEntity.LogoUrl != null)
                        {
                            <Div Class="image-thumbnail">
                                <img src="@NewEntity.LogoUrl" class="img-fluid" />
                            </Div>
                        }
                    </Column>
                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                        <Div Class="container-less-filepicker">
                            <Field>
                                <FilePicker Changed="@OnFileUploadAsync"
                                            ShowMode="FilePickerShowMode.List"
                                            Accept="@(string.Join(", ", Constant.ValidImageExtensions))">
                                    <FileTemplate></FileTemplate>
                                    <ButtonsTemplate></ButtonsTemplate>
                                </FilePicker>
                                <Validation MessageLocalizer="@LH.Localize">
                                    <TextEdit @bind-Text="@NewEntity.LogoName" Style="margin: 0; padding: 0; height: 0px;" Visibility="Visibility.Invisible">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Validation>
                            </Field>
                        </Div>
                    </Column>
                </Row>
                <Divider></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                        <h4>@L["Template"]</h4>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <Select TValue="GroupBuyTemplateType?" @bind-SelectedValue="NewEntity.GroupBuyTemplateType">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                    <ChildContent>
                                        <SelectItem Value="(GroupBuyTemplateType?)null"></SelectItem>
                                        @foreach (GroupBuyTemplateType value in Enum.GetValues<GroupBuyTemplateType>().Where(x => x == GroupBuyTemplateType.PikachuTwo))
                                        {
                                            <SelectItem Value="value">@L["Enum:GroupBuyTemplateType." + (int)value]</SelectItem>
                                        }
                                    </ChildContent>
                                </Select>
                            </Field>
                        </Validation>
                    </Column>
                </Row>
                <Divider></Divider>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                        <h4>@L["ColorScheme"]</h4>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                        <Field>
                            <Select TValue="ColorScheme?" SelectedValue="NewEntity.ColorScheme"
                                    SelectedValueChanged="(e) => OnColorSchemeChange(e)">
                                <SelectItem Value="(ColorScheme?)null"></SelectItem>
                                @foreach (ColorScheme value in Enum.GetValues<ColorScheme>())
                                {
                                    <SelectItem Value="@value">@L["Enum:ColorScheme." + (int)value]</SelectItem>
                                }
                            </Select>
                        </Field>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is12">
                        @if (NewEntity.ColorScheme.HasValue)
                        {
                            <Row Class="d-flex justify-content-center">
                                <Column ColumnSize="ColumnSize.Is2" Class="text-center">
                                    <FieldLabel>@L["Primary"]</FieldLabel>
                                    <ColorPicker Class="color-scheme" @bind-Color="@NewEntity.PrimaryColor" />
                                    <TextEdit Class="mt-2" Disabled @bind-Text="NewEntity.PrimaryColor" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is2" Class="text-center">
                                    <FieldLabel>@L["Secondary"]</FieldLabel>
                                    <ColorPicker Class="color-scheme" @bind-Color="@NewEntity.SecondaryColor" />
                                    <TextEdit Class="mt-2" Disabled @bind-Text="NewEntity.SecondaryColor" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is2" Class="text-center">
                                    <FieldLabel>@L["Background"]</FieldLabel>
                                    <ColorPicker Class="color-scheme" @bind-Color="@NewEntity.BackgroundColor" />
                                    <TextEdit Class="mt-2" Disabled @bind-Text="NewEntity.BackgroundColor" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is2" Class="text-center">
                                    <FieldLabel Class="d-none d-xl-block">@L["SecondaryBackground"]</FieldLabel>
                                    <FieldLabel Class="d-block d-xl-none">@L["SecondaryBg"]</FieldLabel>
                                    <ColorPicker Class="color-scheme" @bind-Color="@NewEntity.SecondaryBackgroundColor" />
                                    <TextEdit Class="mt-2" Disabled @bind-Text="NewEntity.SecondaryBackgroundColor" />
                                </Column>
                                <Column ColumnSize="ColumnSize.Is2" Class="text-center">
                                    <FieldLabel>@L["Alert"]</FieldLabel>
                                    <ColorPicker Class="color-scheme" @bind-Color="@NewEntity.AlertColor" />
                                    <TextEdit Class="mt-2" Disabled @bind-text="NewEntity.AlertColor" />
                                </Column>
                            </Row>
                        }

                    </Column>
                </Row>
            </Validations>
        </CardBody>
    </Card>
    <Div Class="text-end">
        <PikachuButton Class="pk-btn-transparent" Disabled="IsLoading">
            @L["Cancel"]
        </PikachuButton>
        <PikachuButton Class="pk-btn-primary" Loading="IsLoading" Clicked="CreateAsync">
            @L["Create"]
        </PikachuButton>
    </Div>
</Div>
