@page "/Members"
@attribute [Authorize(PikachuPermissions.Members.Default)]
@using Kooco.Pikachu.Blazor.Helpers
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.Permissions
@using Microsoft.Extensions.Localization
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService
@inject NavigationManager NavigationManager
@inject ExcelDownloadHelper ExcelDownloadHelper

<Div>
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="text-dark">@L["Members"]</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.End">
            <PikachuButton Class="pk-btn-sm pk-btn-primary" Clicked="ExportAsync"
                           Disabled="SelectedMembers == null || SelectedMembers.Count == 0">
                <Icon Name="IconName.FileDownload"></Icon>
                @L["Export"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-sm pk-btn-primary" Clicked="ExportAllAsync" Loading="IsExporting">
                <Icon Name="IconName.FileDownload" Display="IsExporting ? Display.None : Display.InlineBlock"></Icon>
                @L["ExportAll"]
            </PikachuButton>
        </Column>
    </Row>
</Div>
<Card>
    <CardBody>
        <Div Class="input-group">
            <TextEdit @bind-Text="Filters.Filter" />
            <Button Color="Color.Primary" Clicked="ApplyFilters">
                <Icon Class="fas fa-search"></Icon>
            </Button>
        </Div>
    </CardBody>
</Card>
<Card>
    <CardBody>
        <DataGrid TItem="MemberDto"
                  Data="MembersList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  CurrentPage="CurrentPage"
                  Hoverable
                  Narrow
                  Responsive
                  @bind-SelectedRow="@SelectedMember"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="SelectedMembers"
                  RowSelectable="RowSelectableHandler">
            <DataGridColumns>
                <DataGridMultiSelectColumn TItem="MemberDto" Width="30px"></DataGridMultiSelectColumn>
                <DataGridCommandColumn TItem="MemberDto" />
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.UserName)"
                                Caption="@L["Name"]">
                    <DisplayTemplate>
                        <Div Class="d-flex align-items-center gap-1">
                            <Div>
                                <img class="img-fluid rounded-circle" style="height: 40px;" src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png" alt="Alternate Text" />
                            </Div>
                            <Div>
                                <Div>
                                    <Button Class="btn-link hyperlink fs-large" Clicked="() => EditMember(context)">@context.UserName</Button>
                                </Div>
                                <Span>@context.Email</Span>
                            </Div>
                        </Div>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.PhoneNumber)"
                                Caption="@L["Phone"]">
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.TotalOrders)"
                                Caption="@L["Orders"]">
                    <DisplayTemplate>
                        @context.TotalOrders.ToString("N0")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.TotalSpent)"
                                Caption="@L["Spent"]">
                    <DisplayTemplate>
                        $ @context.TotalSpent.ToString("N2")
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>


