@page "/Members"
@attribute [Authorize(PikachuPermissions.Members.Default)]
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Members
@using Kooco.Pikachu.Members.MemberTags
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.TierManagement
@using Microsoft.Extensions.Localization
@inherits PikachuComponentBase
@inject IMemberAppService MemberAppService
@inject IMemberTagAppService MemberTagAppService
@inject NavigationManager NavigationManager
@inject ExcelDownloadHelper ExcelDownloadHelper

<Div>
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="text-dark">@L["Members"]</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.End">
            <PikachuButton Class="pk-btn-sm pk-btn-primary" Clicked="ExportAsync"
                           Disabled="SelectedMembers == null || SelectedMembers.Count == 0">
                <Icon Name="IconName.FileDownload"></Icon>
                @L["Export"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-sm pk-btn-primary" Clicked="ExportAllAsync" Loading="IsExporting">
                <Icon Name="IconName.FileDownload" Display="IsExporting ? Display.None : Display.InlineBlock"></Icon>
                @L["ExportAll"]
            </PikachuButton>
        </Column>
    </Row>
</Div>
<Card>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is10">
                <Div Class="input-group">
                    <TextEdit @bind-Text="Filters.Filter" Style="border-radius: 0.5rem 0 0 0.5rem;" />
                    <Button Color="Color.Primary" Clicked="ApplyFilters"
                            Style="border-radius: 0 0.5rem 0.5rem 0;">
                        <Icon Class="fas fa-search"></Icon>
                    </Button>
                </Div>
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <Button Class="btn-outline-primary w-100" Clicked="(() => FiltersVisible = !FiltersVisible)">
                    @L["Filters"]
                    <i class="fas @(FiltersVisible ? "fa-angles-up" : "fa-angles-down") ms-1"></i>
                </Button>
            </Column>
        </Row>
        @if (FiltersVisible)
        {
            <Row Class="mt-2" VerticalGutter="10">
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MemberType"]</Label>
                    <AntDesign.Select @bind-Value="@Filters.MemberType"
                                      AllowClear
                                      TItem="string"
                                      TItemValue="string">
                        <SelectOptions>
                            @foreach (var tagName in MemberConsts.MemberTags.Names)
                            {
                                <AntDesign.SelectOption TItemValue="string" TItem="string" Value=@tagName Label=@L[tagName] />
                            }
                        </SelectOptions>
                    </AntDesign.Select>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MemberTags"]</Label>
                    <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                      @bind-Values="@Filters.SelectedMemberTags"
                                      MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                      AllowClear
                                      EnableSearch
                                      TItem="string"
                                      TItemValue="string">
                        <SelectOptions>
                            @foreach (var item in MemberTagOptions)
                            {
                                <AntDesign.SelectOption TItemValue="string" TItem="string" Value=@item Label=@item />
                            }
                        </SelectOptions>
                    </AntDesign.Select>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MinRegistrationDate"]</Label>
                    <AntDesign.DatePicker TValue="DateTime?" Picker="AntDesign.DatePickerType.Date" @bind-Value="Filters.MinCreationTime" />
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MaxRegistrationDate"]</Label>
                    <AntDesign.DatePicker TValue="DateTime?" Picker="AntDesign.DatePickerType.Date" @bind-Value="Filters.MaxCreationTime" />
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MinOrders"]</Label>
                    <AntDesign.InputNumber Class="no-stepper" @bind-Value="Filters.MinOrderCount" Min="0" />
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MaxOrders"]</Label>
                    <AntDesign.InputNumber Class="no-stepper" @bind-Value="Filters.MaxOrderCount" Min="0" />
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MinSpent"]</Label>
                    <AntDesign.InputNumber Class="no-stepper"
                                           @bind-Value="Filters.MinSpent" Min="0"
                                           Formatter="AntHelper.FormatAmount"
                                           Parser="AntHelper.ParseAmount">
                    </AntDesign.InputNumber>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Label>@L["MaxSpent"]</Label>
                    <AntDesign.InputNumber Class="no-stepper"
                                           @bind-Value="Filters.MaxSpent" Min="0"
                                           Formatter="AntHelper.FormatAmount"
                                           Parser="AntHelper.ParseAmount">
                    </AntDesign.InputNumber>
                </Column>
                <Column ColumnSize="ColumnSize.Is12">
                    <Div Class="d-flex justify-content-end gap-1 w-100">
                        <Button Class="btn-sm btn-outline-primary" Clicked="ResetFilters">
                            <Icon Name="IconName.Undo"></Icon>
                            @L["Reset"]
                        </Button>
                        <Button Class="btn-sm btn-primary" Clicked="ApplyFilters">
                            <Icon Name="IconName.Filter"></Icon>
                            @L["Filter"]
                        </Button>
                    </Div>
                </Column>
            </Row>
        }
    </CardBody>
</Card>
<Card>
    <CardBody>
        <DataGrid TItem="MemberDto"
                  Data="MembersList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  CurrentPage="CurrentPage"
                  Hoverable
                  Narrow
                  Responsive
                  @bind-SelectedRow="@SelectedMember"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="SelectedMembers"
                  RowSelectable="RowSelectableHandler">
            <DataGridColumns>
                <DataGridMultiSelectColumn TItem="MemberDto" Width="30px"></DataGridMultiSelectColumn>
                <DataGridCommandColumn TItem="MemberDto" />
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.Name)"
                                Caption="@L["Name"]">
                    <DisplayTemplate>
                        <Div Class="d-flex align-items-center gap-1">
                            <Div Class="member-image">
                                <img class="img-fluid rounded-circle" src="@MemberConsts.GetAvatarUrl(context.Gender)" alt="Alternate Text" />
                                @if (context.IsBlacklisted)
                                {
                                    <Span Class="blacklisted">
                                        <Icon Name="IconName.Ban"></Icon>
                                    </Span>
                                }
                                else if (context.IsNew)
                                {
                                    <Badge>@L[MemberConsts.MemberTags.New]</Badge>
                                }
                            </Div>
                            <Div>
                                <Div>
                                    <Button Class="btn-link hyperlink fs-large" Clicked="() => EditMember(context)">@context.Name</Button>
                                </Div>
                                <Span>@context.Email</Span>
                            </Div>
                        </Div>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Caption="@L["LoginType"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        @if (!context.LineId.IsNullOrEmpty())
                        {
                            <PikachuBadge Class="pk-badge-success">Line</PikachuBadge>
                        }
                        else if (!context.GoogleId.IsNullOrEmpty())
                        {
                            <PikachuBadge Class="pk-badge-danger">Google</PikachuBadge>
                        }
                        else if (!context.FacebookId.IsNullOrEmpty())
                        {
                            <PikachuBadge Class="pk-badge-primary">Facebook</PikachuBadge>
                        }
                        else
                        {
                            <PikachuBadge Class="pk-badge-warning">Email</PikachuBadge>
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Caption="@L["MemberStatus"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        @if (context.IsBlacklisted || context.IsNew)
                        {
                            <MemberTagComponent Tag="@(context.IsBlacklisted ? MemberConsts.MemberTags.Blacklisted : MemberConsts.MemberTags.New)" />
                        }
                        else
                        {
                            <MemberTagComponent Tag="@MemberConsts.MemberTags.Existing" />
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Caption="@L["VipTier"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        @foreach (var tag in context.MemberTags.Where(tag => tag.VipTierId.HasValue))
                        {
                            <MemberTagComponent Tag="@tag.Name" Margin />
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.TotalOrders)"
                                Caption="@L["Orders"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        @context.TotalOrders.ToString("N0")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.TotalSpent)"
                                Caption="@L["Spent"]"
                                TextAlignment="TextAlignment.End">
                    <DisplayTemplate>
                        <Span Class="text-nowrap">$ @context.TotalSpent.ToString("N2")</Span>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="MemberDto"
                                Field="@nameof(MemberDto.CreationTime)"
                                Caption="@L["RegistrationDate"]"
                                TextAlignment="TextAlignment.Center">
                    <DisplayTemplate>
                        @context.CreationTime.ToString("MMM dd, yyyy")
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>