@page "/add-on-products"
@attribute [Authorize]
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.AddOnProducts
@using Kooco.Pikachu.Permissions
@using Microsoft.Extensions.Localization
@inherits PikachuComponentBase
@inject AddOnProductAppService AddOnProductAppService
@inject IMessageService _message
@inject NavigationManager NavigationManager

<Div>
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="text-dark">@L["AddOnProducts"]</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.End">
            <Button Clicked="CreateNewAddOnProduct" Type="ButtonType.Button" Size="Size.Small" Color="Color.Primary">
                <Icon Name="IconName.Add"></Icon>
                @L["NewAddOn"]
            </Button>
        </Column>
    </Row>
</Div>
<Card>
    <CardBody>
     
            @{
                var columnSize = ColumnSize.Is2.OnQuadHD.Is3.OnFullHD.Is4.OnDesktop.Is6.OnTablet.Is12;
            }
        <Row VerticalGutter="10">
            <Column ColumnSize="ColumnSize.Is12">
                <TextEdit @bind-Text="Filters.Filter" Placeholder="@L["Search"]"></TextEdit>
            </Column>
            <Column ColumnSize="columnSize">
                <Label>@L["From"]</Label>
                <DateEdit TValue="DateTime?" @bind-Date="Filters.StartDate" Size="Size.Small"></DateEdit>
            </Column>
            <Column ColumnSize="columnSize">
                <Label>@L["To"]</Label>
                <DateEdit TValue="DateTime?" @bind-Date="Filters.EndDate" Size="Size.Small"></DateEdit>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.IsAuto.OnTablet" Class="d-flex align-items-end justify-content-center justify-content-sm-start">
                <Button Clicked="ResetFilters" Class="btn-sm btn-outline-primary me-1">
                    <Icon Class="fa-undo"></Icon>
                    @L["Reset"]
                </Button>
                <Button Clicked="ApplyFilters" Class="btn-sm btn-primary" >
                    <Icon Class="fa-filter"></Icon>
                    @L["Filter"]
                </Button>
            </Column>
        </Row>
    </CardBody>
</Card>
<Card>
    <CardBody>
        <DataGrid TItem="AddOnProductDto"
                  Data="AddOnProductList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  CurrentPage="CurrentPage"
                  Hoverable
                 
                  Striped
                  @bind-SelectedRow="@SelectedAddOnProduct"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="SelectedAddOnProducts"
                  
                  RowSelectable="RowSelectableHandler">
            <DataGridColumns>
              @*   <DataGridMultiSelectColumn TItem="AddOnProductDto" Width="30px"></DataGridMultiSelectColumn> *@
                <DataGridCommandColumn TItem="AddOnProductDto" />
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.ProductName)"
                                Caption="@L["Name"]">
                   
                </DataGridColumn>
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.SellingQuantity)"
                                Caption="@L["SellingQuantity"]">
                </DataGridColumn>
              
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.StartDate)"
                                Caption="@L["Time"]">
                    <DisplayTemplate>
                        @context.StartDate-@context.EndDate
                    </DisplayTemplate>
                </DataGridColumn>
             
                <DataGridColumn TItem="AddOnProductDto" Field="@nameof(AddOnProductDto.Status)"
                                Caption="@L["Status"]">
                    <DisplayTemplate>
                        <Switch TValue="bool" Checked="@context.Status" CheckedChanged="@(() => UpdateStatus(context.Id))"></Switch>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Width="150px"
                                TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.Id)"
                                Sortable="false"
                                Caption="@L["Actions"]">
                    <DisplayTemplate>
                        <Dropdown>
                            <DropdownToggle Color="Color.Primary">
                                @L["Actions"]
                            </DropdownToggle>
                            <DropdownMenu>
                              
                                <DropdownItem Clicked="() => NavigateToEditPage(context.Id)">
                                    @L["Edit"]
                                </DropdownItem>
                                <DropdownItem Clicked="() => DeleteAddOn(context.Id)">
                                    @L["Delete"]
                                </DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                    </DisplayTemplate>
                </DataGridColumn>
             
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>


