@page "/add-on-products"
@attribute [Authorize]
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.AddOnProducts
@using Kooco.Pikachu.Permissions
@using Microsoft.Extensions.Localization
@inherits PikachuComponentBase

@inject NavigationManager NavigationManager

<Div>
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="text-dark">@L["AddOnProducts"]</h3>
        </Column>
        <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.End">
            <Button Clicked="CreateNewAddOnProduct" Type="ButtonType.Button" Size="Size.Small" Color="Color.Primary">
                <Icon Name="IconName.Add"></Icon>
                @L["New"]
            </Button>
        </Column>
    </Row>
</Div>
<Card>
    <CardBody>
     
            @{
                var columnSize = ColumnSize.Is2.OnQuadHD.Is3.OnFullHD.Is4.OnDesktop.Is6.OnTablet.Is12;
            }
        <Row VerticalGutter="10">
            <Column ColumnSize="ColumnSize.Is12">
                <TextEdit @bind-Text="Filters.Filter" Placeholder="@L["Search"]"></TextEdit>
            </Column>
            <Column ColumnSize="columnSize">
                <Label>@L["From"]</Label>
                <DateEdit TValue="DateTime?" @bind-Date="Filters.From" Size="Size.Small"></DateEdit>
            </Column>
            <Column ColumnSize="columnSize">
                <Label>@L["To"]</Label>
                <DateEdit TValue="DateTime?" @bind-Date="Filters.To" Size="Size.Small"></DateEdit>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.IsAuto.OnTablet" Class="d-flex align-items-end justify-content-center justify-content-sm-start">
                <Button Class="btn-sm btn-outline-primary me-1" >
                    <Icon Class="fa-undo"></Icon>
                    @L["Reset"]
                </Button>
                <Button Class="btn-sm btn-primary" >
                    <Icon Class="fa-filter"></Icon>
                    @L["Filter"]
                </Button>
            </Column>
        </Row>
    </CardBody>
</Card>
<Card>
    <CardBody>
        <DataGrid TItem="AddOnProductDto"
                  Data="AddOnProductList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  CurrentPage="CurrentPage"
                  Hoverable
                  Narrow
                  Responsive
                  Striped
                  @bind-SelectedRow="@SelectedAddOnProduct"
                  SelectionMode="DataGridSelectionMode.Multiple"
                  @bind-SelectedRows="SelectedAddOnProducts"
                  
                  RowSelectable="RowSelectableHandler">
            <DataGridColumns>
              @*   <DataGridMultiSelectColumn TItem="AddOnProductDto" Width="30px"></DataGridMultiSelectColumn> *@
                <DataGridCommandColumn TItem="AddOnProductDto" />
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.ProductName)"
                                Caption="@L["Name"]">
                   
                </DataGridColumn>
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.SellingQuantity)"
                                Caption="@L["SellingQuantity"]">
                </DataGridColumn>
              
                <DataGridColumn TItem="AddOnProductDto"
                                Field="@nameof(AddOnProductDto.StartDate)"
                                Caption="@L["Time"]">
                    <DisplayTemplate>
                        @context.StartDate-@context.EndDate
                    </DisplayTemplate>
                </DataGridColumn>
             
                <DataGridColumn TItem="AddOnProductDto" Field="@nameof(AddOnProductDto.Status)"
                                Caption="@L["Status"]">
                    <DisplayTemplate>
                        <Switch TValue="bool" Checked="@context.Status" CheckedChanged="@(() => OnAddOnProductStatusChanged(context.Id))"></Switch>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridEntityActionsColumn TItem="AddOnProductDto" >
                    <DisplayTemplate>
                        <EntityActions  TItem="AddOnProductDto" >
                            <EntityAction TItem="AddOnProductDto"
                                          Text="@L["Edit"]"
                                         />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>


