@page "/EmailSettings"

@using Blazorise.LoadingIndicator;
@using Kooco.Pikachu.Localization;
@using Kooco.Pikachu.Tenants
@using Microsoft.Extensions.Localization;
@using Volo.Abp.AspNetCore.Components.Messages;
@using Volo.Abp.ObjectMapping;
@using Volo.Abp.SettingManagement.Blazor.Pages.SettingManagement.EmailSettingGroup

@inject ITenantEmailSettingsAppService _tenantEmailSettingsAppService;
@inject IUiMessageService _uiMessageService;
@inject IJSRuntime JSRuntime;
@inject IObjectMapper ObjectMapper;
@inject IStringLocalizer<PikachuResource> L;
@attribute [Authorize]
@* <LoadingIndicator @ref="Loading" FullScreen></LoadingIndicator> *@

@*  <Card>
     <CardBody>
         <EditForm Model="@EmailSettings" OnValidSubmit="UpdateEmailSettingsAsync">
             <DataAnnotationsValidator />
             <div class="row justify-content-center mb-2">
                 <div class="col-2 pt-2 text-end">
                     @L["SenderName"]
                     <span class="text-danger"> *</span>
                 </div>
                 <div class="col-7">
                     <InputText class="form-control" @bind-Value="EmailSettings.SenderName"></InputText>
                     <ValidationMessage For="@(() => EmailSettings.SenderName)" />
                 </div>
             </div>
             <div class="row justify-content-center mb-2">
                 <div class="col-2 pt-2 text-end">
                     @L["Subject"]
                     <span class="text-danger"> *</span>
                 </div>
                 <div class="col-7">
                     <InputText class="form-control" @bind-Value="EmailSettings.Subject"></InputText>
                     <ValidationMessage For="@(() => EmailSettings.Subject)" />
                 </div>
             </div>
             <div class="row justify-content-center mb-2">
                 <div class="col-2 pt-2 text-end">
                     @L["Greetings"]
                     <span class="text-danger"> *</span>
                 </div>
                 <div class="col-7">
                     <InputTextArea class="form-control" @bind-Value="EmailSettings.Greetings" rows="5"></InputTextArea>
                     <ValidationMessage For="@(() => EmailSettings.Greetings)" />
                 </div>
             </div>
             <div class="row justify-content-center mb-2">
                 <div class="col-2 pt-2 text-end">
                     @L["Footer"]
                     <span class="text-danger"> *</span>
                 </div>
                 <div class="col-7">
                     <InputTextArea class="form-control" @bind-Value="EmailSettings.Footer" rows="5"></InputTextArea>
                     <ValidationMessage For="@(() => EmailSettings.Footer)" />
                 </div>
             </div>
             <div class="row mt-3">
                 <div class="col-12 text-center">
                     <Button Type="ButtonType.Submit" Class="btn btn-primary">
                         <i class="fa fa-check"></i>
                         @L["Save"]
                     </Button>
                 </div>
             </div>
         </EditForm>
     </CardBody>
 </Card> *@

<Div Class="rounded-cards">
    <Row>
        <Column ColumnSize="ColumnSize.Is2"></Column>
        <Column ColumnSize="ColumnSize.Is12.Is8.OnDesktop">
            <h4 class="text-dark">@L["EmailSettings"]</h4>
            <Card>
                <CardBody>
                    <EmailSettingGroupViewComponent />
                </CardBody>
            </Card>
        </Column>
    </Row>
</Div>