@page "/SetItem"
@using Kooco.Pikachu.Items.Dtos;
@using Kooco.Pikachu.Localization;
@using Microsoft.Extensions.Localization;
@using Blazorise.Components;
@inject IStringLocalizer<PikachuResource> L;
@inject NavigationManager NavigationManager;
@attribute [Authorize]
 @if(loading)
    {
     <div class="row">
        <div class="col-4">
             <SkeletonItem ColumnSize="ColumnSize.Is4" Class="mb-2" />
        </div>
        <div class="col-8 text-end">
           <SkeletonItem ColumnSize="ColumnSize.Is1" Class="mb-2" />
            <SkeletonItem ColumnSize="ColumnSize.Is1" Class="mb-2" />
             <SkeletonItem ColumnSize="ColumnSize.Is1" Class="mb-2" />
              <SkeletonItem ColumnSize="ColumnSize.Is1" Class="mb-2" />
        </div>
    </div> 
  
    <Card>
        <CardBody>
            <Skeleton Animation="SkeletonAnimation.Pulse">
        <!-- For example, 5 horizontal bars to represent the table rows -->
      <SkeletonTable Rows="10" Columns="7" />
    </Skeleton>
        </CardBody>
    </Card>
    }
    <div style="@($"display: {(loading ? "none" : "block")};" )">
<div class="row">
    <div class="col-6">
        <h3>@L["SetItem"]</h3>
    </div>
    <div class="col-6 text-lg-end">
        <div class="custom-check-group me-1">
            <input type="checkbox" class="form-check-input" checked="@IsAllSelected" @onchange="HandleSelectAllChange"></input>
            <Label Class="form-label">@L["SelectAll"]</Label>
        </div>
        <button class="btn btn-sm btn-primary" @onclick="NavigateToCreateSetItem">
            <i class="fa fa-plus"></i>
            @L["NewSetItem"]
        </button>
        <button class="btn btn-sm btn-danger" @onclick="DeleteSelectedAsync">
            @L["DeleteSelected"]
        </button>
    </div>
</div>


<Card>
    <CardBody>
        <DataGrid TItem="SetItemDto"
                  Data="SetItemList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="Total"
                  ShowPager="true"
                  PageSize="PageSize"
                  SortChanged="OnSortChange"
                  Hoverable>
            <DataGridColumns>
                <DataGridColumn TItem="SetItemDto" Caption="@L["Select"]" Width="30px">
                    <DisplayTemplate>
                        <InputCheckbox class="form-check-input" @bind-Value="@context.IsSelected"></InputCheckbox>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.SetItemName)"
                                Caption="@L["ItemName"]">
                    <DisplayTemplate>
                        <Button Class="btn-link hyperlink" Clicked="() => OnEditItem(context)">@context.SetItemName</Button>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.SetItemDescriptionTitle)"
                                Caption="@L["ItemDescription"]">
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Caption="@L["TimeLimitPeriod"]">
                    <DisplayTemplate>
                        @context.LimitAvaliableTimeStart.ToShortDateString() - @context.LimitAvaliableTimeEnd.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.CreationTime)"
                                Caption="@L["CreatedTime"]">
                    <DisplayTemplate>
                        @context.CreationTime.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.SaleableQuantity)"
                                Caption="@L["SellableQuantity"]">
                    <DisplayTemplate>
                        <Div Class="text-center">
                            @context.SaleableQuantity
                        </Div>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.IsFreeShipping)"
                                Caption="@L["FreeShipping"]">
                    <DisplayTemplate>
                        @if (context.IsFreeShipping)
                        {
                            <i class="fa fa-check bg-success text-light p-1"></i>
                        }
                        else
                        {
                            <i class="fa fa-times bg-danger text-light p-1"></i>
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="SetItemDto"
                                Field="@nameof(SetItemDto.ShareProfit)"
                                Caption="@L["ShareProfit"]">
                </DataGridColumn>
            </DataGridColumns>
            <FirstPageButtonTemplate>@L[PikachuResource.FirstPage]</FirstPageButtonTemplate>
            <PreviousPageButtonTemplate>@L[PikachuResource.PrevPage]</PreviousPageButtonTemplate>
            <NextPageButtonTemplate>@L[PikachuResource.NextPage]</NextPageButtonTemplate>
            <LastPageButtonTemplate>@L[PikachuResource.LastPage]</LastPageButtonTemplate>
        </DataGrid>
    </CardBody>
</Card>
</div>

@code {

}
