@page "/GroupBuyManagement/GroupBuyList"
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Application.Dtos
@using Kooco.Pikachu.GroupBuys
@using Kooco.Pikachu.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using System.Text.Json;
@using System.ComponentModel;
@using Blazorise.LoadingIndicator;
@inject IStringLocalizer<PikachuResource> L
@inject NavigationManager NavigationManager

<LoadingIndicator @ref="loading" FullScreen FadeIn>
<div class="row">
    <div class="col-6">
        <h3>@L["GroupBuyList"]</h3>
    </div>
    <div class="col-6 text-lg-end">
        <div class="custom-check-group me-1">
            <input type="checkbox" class="form-check-input" checked="@IsAllSelected" @onchange="HandleSelectAllChange"></input>
            <Label Class="form-label">@L["SelectAll"]</Label>
        </div>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-primary" Clicked="CreateNewItem">
            <i class="fa fa-plus"></i>
            @L["NewGroupBuy"]
        </Button>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-danger" Clicked="DeleteSelectedAsync">
            @L["DeleteSelected"]
        </Button>
    </div>
</div>
<Card>
    <CardBody>
        <DataGrid TItem="GroupBuyDto"
                  Data="GroupBuyListItem"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="Total"
                  ShowPager="true"
                  PageSize="_pageSize"
                  RowDoubleClicked="OnEditItem"
                  SortChanged="OnSortChange">
            <DataGridColumns>

                <DataGridColumn TItem="GroupBuyDto" Caption="@L["Select"]" Width="30px">
                    <DisplayTemplate>
                        <InputCheckbox class="form-check-input" @bind-Value="@context.IsSelected"></InputCheckbox>
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="GroupBuyDto"
                                Field="@nameof(GroupBuyDto.GroupBuyName)"
                                Caption="@L["GroupBuyName"]">
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyDto"
                                Field="@nameof(GroupBuyDto.CreationTime)"
                                Caption="@L["CreatedTime"]">
                    <DisplayTemplate>
                        @context.CreationTime.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="GroupBuyDto" Field="@nameof(GroupBuyDto.IsGroupBuyAvaliable)"
                                Caption="@L["Availability"]">
                    <DisplayTemplate>
                        <Switch TValue="bool" Checked="@context.IsGroupBuyAvaliable" CheckedChanged="@(() => OnGroupBuyAvaliablityChanged(context.Id))"></Switch>
                    </DisplayTemplate>
                </DataGridColumn>
               

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
</LoadingIndicator>

@code {
}

