@page "/Tenant-Settings"
@using Blazored.TextEditor
@using Blazorise.Components
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Identity
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.TenantManagement
@using Volo.Abp.AspNetCore.Components.Notifications
@using Volo.Abp.AspNetCore.Components.Web
@attribute [Authorize(PikachuPermissions.TenantSettings.Edit)]
@inherits PikachuComponentBase
@inject ITenantSettingsAppService TenantSettingsAppService

<Div Class="rounded-cards tenant-settings">
    <Card>
        <CardBody>
            <Div Class="text-dark d-flex align-items-center justify-content-between">
                <Div>
                    <h4 class="m-0 mb-1">@CurrentTenant?.Name</h4>
                    @L["TenantId"]:
                    <Span Class="bg-lightgrey rounded-3" Style="padding: 1px 10px;">
                        <Copy Text="@CurrentTenant?.Id" ShouldDisplayIcon="false"></Copy>
                    </Span>
                </Div>
            </Div>
        </CardBody>
    </Card>
    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged" RenderMode="TabsRenderMode.LazyLoad">
        <Items>
            <Tab Name="TenantInformation">@L["TenantInformation"]</Tab>
            <Tab Name="CustomerServiceInformation">@L["CustomerServiceInformation"]</Tab>
            <Tab Name="PrivacyPolicy">@L["PrivacyPolicy"]</Tab>
            <Tab Name="FrontendInformation">@L["FrontendInformation"]</Tab>
            <Tab Name="SocialMedia">@L["SocialMedia"]</Tab>
            <Tab Name="GoogleTagManager">@L["GoogleTagManager"]</Tab>
        </Items>
        <Content>
            <TabPanel Name="TenantInformation">
                <TenantInformation AppService="TenantSettingsAppService"></TenantInformation>
            </TabPanel>
            <TabPanel Name="CustomerServiceInformation">
                <TenantCustomerService AppService="TenantSettingsAppService"></TenantCustomerService>
            </TabPanel>
            <TabPanel Name="PrivacyPolicy">
                <TenantPrivacyPolicy AppService="TenantSettingsAppService"></TenantPrivacyPolicy>
            </TabPanel>
            <TabPanel Name="FrontendInformation">
                <TenantFrontendInformation AppService="TenantSettingsAppService"></TenantFrontendInformation>
            </TabPanel>
            <TabPanel Name="SocialMedia">
                <TenantSocialMedia AppService="TenantSettingsAppService"></TenantSocialMedia>
            </TabPanel>
            <TabPanel Name="GoogleTagManager">
                <TenantGoogleTagManager AppService="TenantSettingsAppService"></TenantGoogleTagManager>
            </TabPanel>
        </Content>
    </Tabs>
</Div>