@page "/Tenant-Settings"
@using Blazored.TextEditor
@using Blazorise.Components
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Identity
@using Kooco.Pikachu.Items.Dtos
@using Kooco.Pikachu.Localization
@using Kooco.Pikachu.Permissions
@using Kooco.Pikachu.TenantManagement
@using Volo.Abp.AspNetCore.Components.Notifications
@using Volo.Abp.AspNetCore.Components.Web
@attribute [Authorize(PikachuPermissions.TenantSettings.Default)]
@inherits PikachuComponentBase
@inject NavigationManager NavigationManager
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH
@inject ITenantSettingsAppService TenantSettingsAppService
@inject IUiNotificationService UiNotificationService

<Div Class="rounded-cards tenant-settings">
    <Card>
        <CardBody>
            <Div Class="text-dark d-flex align-items-center justify-content-between">
                <Div>
                    <h4 class="m-0 mb-1">@CurrentTenant?.Name</h4>
                    @L["TenantId"]:
                    <Span Class="bg-lightgrey rounded-3" Style="padding: 1px 10px;">
                        <Copy Text="@CurrentTenant?.Id" ShouldDisplayIcon="false"></Copy>
                    </Span>
                </Div>
            </Div>
        </CardBody>
    </Card>
    <Form>
        <Validations @ref="@ValidationsRef" Model="@Entity" ValidateOnLoad="false">
            <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged" RenderMode="TabsRenderMode.LazyLoad">
                <Items>
                    <Tab Name="TenantInformation">@L["TenantInformation"]</Tab>
                    <Tab Name="CustomerServiceInformation">@L["CustomerServiceInformation"]</Tab>
                    <Tab Name="PrivacyPolicy">@L["PrivacyPolicy"]</Tab>
                    <Tab Name="FrontendInformation">@L["FrontendInformation"]</Tab>
                    <Tab Name="SocialMedia">@L["SocialMedia"]</Tab>
                    <Tab Name="GoogleTagManager">@L["GoogleTagManager"]</Tab>
                </Items>
                <Content>
                    <TabPanel Name="TenantInformation">
                        <TenantInformation AppService="TenantSettingsAppService"></TenantInformation>
                    </TabPanel>
                    <TabPanel Name="CustomerServiceInformation">
                        <CustomerService AppService="TenantSettingsAppService"></CustomerService>
                    </TabPanel>
                    <TabPanel Name="PrivacyPolicy">
                        <TenantPrivacyPolicy AppService="TenantSettingsAppService"></TenantPrivacyPolicy>
                    </TabPanel>
                    <TabPanel Name="FrontendInformation">
                        <TenantFrontendInformation AppService="TenantSettingsAppService"></TenantFrontendInformation>
                    </TabPanel>
                    <TabPanel Name="SocialMedia">
                        <Card>
                            <CardBody>
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                        <h4>@L["SocialMedia"]</h4>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                        <Validation MessageLocalizer="@LH.Localize">
                                            <Field>
                                                <FieldLabel>@L["Facebook"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.Facebook">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                        <Validation MessageLocalizer="@LH.Localize">
                                            <Field>
                                                <FieldLabel>@L["Instagram"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.Instagram">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                        <Validation MessageLocalizer="@LH.Localize">
                                            <Field>
                                                <FieldLabel>@L["Line"]</FieldLabel>
                                                <TextEdit @bind-Text="Entity.Line">
                                                    <Feedback>
                                                        <ValidationError />
                                                    </Feedback>
                                                </TextEdit>
                                            </Field>
                                        </Validation>
                                    </Column>
                                </Row>
                            </CardBody>
                        </Card>
                    </TabPanel>
                    <TabPanel Name="GoogleTagManager">
                        <Card>
                            <CardBody>
                                <Row>
                                    <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                                        <h4>@L["GoogleTagManager"]</h4>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                                        <Field>
                                            <FieldLabel>@L["GtmEnabled"]</FieldLabel>
                                            <Switch TValue="bool" @bind-Checked="@Entity.GtmEnabled"></Switch>
                                        </Field>
                                        <Field>
                                            <FieldLabel>
                                                @L["ContainerId"]
                                                @if (Entity.GtmEnabled)
                                                {
                                                    <Span> *</Span>
                                                }
                                            </FieldLabel>
                                            <TextEdit Class="@(Entity.GtmEnabled && Entity.GtmContainerId.IsNullOrWhiteSpace() ? "invalid" : "")" @bind-Text="Entity.GtmContainerId" Placeholder="GTM-XXXXXX"></TextEdit>
                                            @if (Entity.GtmEnabled && Entity.GtmContainerId.IsNullOrWhiteSpace())
                                            {
                                                <Div Class="validation-message">@L["GtmContainerIdIsRequired"]</Div>
                                            }
                                        </Field>
                                    </Column>
                                </Row>
                            </CardBody>
                        </Card>
                    </TabPanel>
                </Content>
            </Tabs>
        </Validations>
    </Form>
    @* <Div Class="text-end">
        <PikachuButton Class="pk-btn-transparent" Disabled="IsLoading" Loading="IsCancelling" Clicked="CancelAsync">
            @L["Cancel"]
        </PikachuButton>
        <PikachuButton Class="pk-btn-primary" Disabled="IsCancelling" Loading="IsLoading" Clicked="UpdateAsync">
            @L["Update"]
        </PikachuButton>
    </Div> *@
</Div>