@using Blazored.TextEditor
@using Kooco.Pikachu.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits PikachuComponentBase
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH

<Card>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                <h4>@L["TermsAndConditions"]</h4>
            </Column>
            <Column ColumnSize="ColumnSize.Is12.Is9.OnDesktop">
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <Div Class="d-flex align-items-center justify-content-between mb-1">
                            <FieldLabel Class="m-0">@L["SpecifyTermsAndConditions"]<Span> *</Span></FieldLabel>
                        </Div>
                        <BlazoredTextEditor @ref="@TermsAndConditionsHtml">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-image"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-video"></button>
                                </span>
                            </ToolbarContent>
                        </BlazoredTextEditor>
                    </Field>
                </Validation>
            </Column>
        </Row>
    </CardBody>
</Card>

<Div Class="text-end">
    <PikachuButton Class="pk-btn-transparent" Disabled="IsLoading" Loading="IsCancelling" Clicked="CancelAsync">
        @L["Cancel"]
    </PikachuButton>
    <PikachuButton Class="pk-btn-primary" Disabled="IsCancelling" Loading="IsLoading" Clicked="UpdateAsync">
        @L["Update"]
    </PikachuButton>
</Div>