@using Kooco.Pikachu.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inherits PikachuComponentBase
@inject AbpBlazorMessageLocalizerHelper<PikachuResource> LH

<Form>
    <Validations @ref="@ValidationsRef" Model="@Entity" ValidateOnLoad="false">
        <Card>
            <CardBody>
                <Row>
                    @if (!ViewMode)
                    {
                        <Column ColumnSize="ColumnSize.Is12.Is3.OnDesktop">
                            <h4>@L["SocialMedia"]</h4>
                        </Column>
                    }

                    <Column ColumnSize="ViewMode ? ColumnSize.Is12 : ColumnSize.Is12.Is9.OnDesktop">
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Facebook Title"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.FacebookDisplayName" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Facebook Link"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.FacebookLink" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Instagram Title"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.InstagramDisplayName" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Instagram Link"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.InstagramLink" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                        <Validation MessageLocalizer="@LH.Localize">
                            <Field>
                                <FieldLabel>@L["Line Title"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.LineDisplayName" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                                </Field>
                                </Validation>
                                <Validation MessageLocalizer="@LH.Localize">
                                    <Field>
                                <FieldLabel>@L["Line Link"]</FieldLabel>
                                <TextEdit @bind-Text="Entity.LineLink" Disabled="ViewMode">
                                    <Feedback>
                                        <ValidationError />
                                    </Feedback>
                                </TextEdit>
                            </Field>
                        </Validation>
                    </Column>
                </Row>
            </CardBody>
        </Card>
    </Validations>

    @if (!ViewMode)
    {
        <Div Class="text-end">
            <PikachuButton Class="pk-btn-transparent" Disabled="IsLoading" Loading="IsCancelling" Clicked="CancelAsync">
                @L["Cancel"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-primary" Disabled="IsCancelling" Loading="IsLoading" Clicked="UpdateAsync">
                @L["Update"]
            </PikachuButton>
        </Div>
    }
</Form>