@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Extensions
@using Kooco.Pikachu.TenantPayouts

@inherits PikachuComponentBase
<h5 class="text-dark">@L["PayoutDetails:FeeSummary", Year]</h5>

<div class="stats-container">
    <div class="stats-card">
        <div class="stats-icon purple">
            <i class="fas fa-wallet"></i>
        </div>
        <div class="stats-info">
            <h3>@Summary.NetAmount.ToMoneyString()</h3>
            <p class="m-0">@(L["NetAmount"])</p>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-icon green">
            <i class="fas fa-file-invoice-dollar"></i>
        </div>
        <div class="stats-info">
            <h3>@Summary.TotalFees.ToMoneyString()</h3>
            <p class="m-0">@(L["TotalFees"])</p>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-icon orange">
            <i class="fas fa-tools"></i>
        </div>
        <div class="stats-info">
            <h3>@Summary.ProcessingFee.ToMoneyString()</h3>
            <p class="m-0">@(L["ProcessingFee"])</p>
        </div>
    </div>
    <div class="stats-card">
        <div class="stats-icon red">
            <i class="fas fa-arrow-right-arrow-left"></i>
        </div>
        <div class="stats-info">
            <h3>@Summary.Transactions.ToNumberString()</h3>
            <p class="m-0">@(L["Transactions"])</p>
        </div>
    </div>
</div>

<div class="export-options-container">
    <h5 class="text-dark">@L["PayoutDetails:ExportOptions"]</h5>
    <div class="stats-container m-0">
        <div class="stats-card">
            <div class="stats-icon purple">
                <i class="fas fa-funnel-dollar"></i>
            </div>
            <div class="stats-info">
                <p class="mb-1">
                    @(L["PayoutDetails:SelectedRecords"]) @SelectedCountMarkup
                </p>
                <div>
                    <button class="export-option-button" disabled="@(!IsAnySelected)">
                        <i class="fas fa-file-csv"></i>
                        @L["CSV"]
                    </button>
                    <button class="export-option-button" disabled="@(!IsAnySelected)">
                        <i class="fas fa-file-excel"></i>
                        @L["Excel"]
                    </button>
                </div>
            </div>
        </div>
        <div class="stats-card">
            <div class="stats-icon green">
                <i class="fas fa-bullseye"></i>
            </div>
            <div class="stats-info">
                <p class="mb-1">@(L["PayoutDetails:CurrentFilter"])</p>
                <div>
                    <button class="export-option-button">
                        <i class="fas fa-file-csv"></i>
                        @L["CSV"]
                    </button>
                    <button class="export-option-button">
                        <i class="fas fa-file-excel"></i>
                        @L["Excel"]
                    </button>
                </div>
            </div>
        </div>
        <div class="stats-card">
            <div class="stats-icon orange">
                <i class="fas fa-database"></i>
            </div>
            <div class="stats-info">
                <p class="mb-1">@(L["PayoutDetails:AllData"])</p>
                <div>
                    <button class="export-option-button">
                        <i class="fas fa-file-csv"></i>
                        @L["CSV"]
                    </button>
                    <button class="export-option-button">
                        <i class="fas fa-file-excel"></i>
                        @L["Excel"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row row-cols-5">
            <div class="col">
                <div class="form-group m-0">
                    <label class="form-label">@L["StartDate"]</label>
                    <AntDesign.DatePicker TValue="DateTime" @bind-Value="Filters.StartDate" />
                </div>
            </div>
            <div class="col">
                <div class="form-group m-0">
                    <label class="form-label">@L["EndDate"]</label>
                    <AntDesign.DatePicker TValue="DateTime" @bind-Value="Filters.EndDate" />
                </div>
            </div>
            <div class="col">
                <div class="form-group m-0">
                    <label class="form-label">@L["PaymentType"]</label>
                    <AntDesign.Select @bind-Value="@Filters.PaymentMethod"
                                      TItemValue="PaymentMethods?"
                                      TItem="PaymentMethods?"
                                      DropdownMatchSelectWidth="false"
                                      AllowClear>
                        <SelectOptions>
                            @foreach (PaymentMethods method in Enum.GetValues<PaymentMethods>())
                            {
                                <AntDesign.SelectOption TItem="PaymentMethods?" TItemValue="PaymentMethods?" Value="@method" Label="@L[method.ToString()]" />
                            }
                        </SelectOptions>
                    </AntDesign.Select>
                </div>
            </div>
            <div class="col">
                <div class="form-group m-0">
                    <label class="form-label">@L["OrderNumber"]</label>
                    <AntDesign.Input @bind-Value="@Filters.Filter" />
                </div>
            </div>
            <div class="col">
                <div class="form-group m-0 d-flex align-items-end h-100">
                    <button class="btn btn-sm btn-primary px-3" style="border-radius: 0.3rem;" @onclick="GetPayoutRecordsAsync">
                        @L["ApplyFilters"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="export-options-container">
    <h5 class="text-dark">@L["PayoutDetails:BatchActions"]</h5>
    <div>
        <PikachuButton Class="pk-btn-sm pk-btn-outline-primary" Disabled="!IsAnySelected">
            @L["PayoutDetails:TransferSelectedToWallet"]
            @SelectedCountMarkup
        </PikachuButton>
        <PikachuButton Class="pk-btn-sm pk-btn-outline-warning" Disabled="!IsAnySelected">
            @L["PayoutDetails:MarkSelectedAsPaid"]
            @SelectedCountMarkup
        </PikachuButton>
        <p class="text-muted fs-xs m-0 mt-1">
            @L["PayoutDetails:PaymentActionsOnlyAffectUnpaidRecords"]
        </p>
    </div>
</div>

<DataGrid TItem="TenantPayoutRecordDto"
          Data="PayoutDetailList"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize"
          CurrentPage="CurrentPage"
          Hoverable
          Narrow
          Responsive
          SelectionMode="DataGridSelectionMode.Multiple"
          @bind-SelectedRows="SelectedPayoutDetail"
          RowSelectable="RowSelectableHandler">
    <DataGridColumns>
        <DataGridMultiSelectColumn TItem="TenantPayoutRecordDto" Width="30px"></DataGridMultiSelectColumn>
        <DataGridCommandColumn TItem="TenantPayoutRecordDto" />
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.OrderCreationTime)"
                        Caption="@L["OrderCreationTime"]">
            <DisplayTemplate>
                @context.OrderCreationTime.ToShortDateString()
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.OrderNo)"
                        Caption="@L["OrderNumber"]">
            <DisplayTemplate>
                <Span Class="text-nowrap fw-bold text-dark">
                    @context.OrderNo
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.PaymentMethod)"
                        Caption="@L["PaymentType"]">
            <DisplayTemplate>
                @L[context.PaymentMethod.ToString()]
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.GrossOrderAmount)"
                        Caption="@L["OrderAmount"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-success">
                    @context.GrossOrderAmount.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.FeeRate)"
                        Caption="@L["FeeRate"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                @context.FeeRate.ToPercentageString()
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.HandlingFee)"
                        Caption="@L["HandlingFee"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-danger">
                    @context.HandlingFee.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.ProcessingFee)"
                        Caption="@L["ProcessingFee"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-danger">
                    @context.ProcessingFee.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Caption="@L["PlatformFee"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-danger">
                    @* @context.PlatformFee.ToString("N2") *@
                    -
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.NetAmount)"
                        Caption="@L["NetAmount"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-success">
                    @context.NetAmount.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Caption="@L["Status"]"
                        TextAlignment="TextAlignment.Center">
            <DisplayTemplate>
                @* @{
                    var statusClass = context.Status == "paid" ? "pk-badge-success" : "pk-badge-warning";
                    statusClass += " text-uppercase";
                }
                <PikachuBadge Class="@statusClass">
                    @L[context.Status]
                </PikachuBadge> *@
                -
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Caption="@L["Actions"]">
            <DisplayTemplate>
                <Div Class="text-nowrap">
                    @* @if (context.Status == "Paid")
                    { *@
                        <Tooltip Display="Display.InlineBlock" Text="@L["TransferToWallet"]">
                            <PikachuButton Class="pk-btn-sm pk-btn-icon green" IconClass="fas fa-paper-plane"></PikachuButton>
                        </Tooltip>
                        <Tooltip Display="Display.InlineBlock" Text="@L["MarkAsPaid"]">
                            <PikachuButton Class="pk-btn-sm pk-btn-icon amber" IconClass="fas fa-check-double"></PikachuButton>
                        </Tooltip>
                    @* }
                    else
                    {
                        <PikachuBadge Class="pk-badge-success">
                            @L["Processed"]
                        </PikachuBadge>
                    } *@
                </Div>
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
    <NextPageButtonTemplate>@L["NextPage"]</NextPageButtonTemplate>
    <PreviousPageButtonTemplate>@L["PrevPage"]</PreviousPageButtonTemplate>
    <LastPageButtonTemplate>@L["LastPage"]</LastPageButtonTemplate>
    <FirstPageButtonTemplate>@L["FirstPage"]</FirstPageButtonTemplate>
    <TotalItemsTemplate>
        @(string.Format(
                L["Range"],
                ((CurrentPage - 1) * PageSize) + 1,
                (CurrentPage * PageSize > TotalCount ? TotalCount : CurrentPage * PageSize),
                TotalCount
                ))
    </TotalItemsTemplate>
</DataGrid>
