@using Kooco.Pikachu.Blazor.Pages.TenantPayouts.Steps.PayoutDetails
@using Kooco.Pikachu.EnumValues
@using Kooco.Pikachu.Extensions
@using Kooco.Pikachu.TenantPayouts

@inherits PikachuComponentBase
<h5 class="text-dark">@L["PayoutDetails:FeeSummary", Year]</h5>

<PayoutDetailSummary Summary="Summary" />
<PayoutExportOptions AnySelected="AnySelected" SelectedCountText="@SelectedCountText" CurrentFilterCount="TotalCount" />
<PayoutDetailFilters @bind-Filters="Filters" OnFilter="ApplyFiltersAsync" Year="Year" TenantId="TenantId" FeeType="FeeType" />
<PayoutBatchActions AnySelected="AnySelected" SelectedCountText="@SelectedCountText" />

<DataGrid TItem="TenantPayoutRecordDto"
          Data="PayoutDetailList"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize"
          CurrentPage="CurrentPage"
          Hoverable
          Narrow
          Responsive
          SelectionMode="DataGridSelectionMode.Multiple"
          @bind-SelectedRows="SelectedPayoutDetails"
          RowSelectable="RowSelectableHandler">
    <DataGridColumns>
        <DataGridMultiSelectColumn TItem="TenantPayoutRecordDto" Width="30px"></DataGridMultiSelectColumn>
        <DataGridCommandColumn TItem="TenantPayoutRecordDto" />
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.OrderCreationTime)"
                        Caption="@L["OrderCreationTime"]">
            <DisplayTemplate>
                @context.OrderCreationTime.ToShortDateString()
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.OrderNo)"
                        Caption="@L["OrderNumber"]">
            <DisplayTemplate>
                <Span Class="text-nowrap fw-bold text-dark">
                    @context.OrderNo
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.PaymentMethod)"
                        Caption="@L["PaymentType"]">
            <DisplayTemplate>
                @L[context.PaymentMethod.ToString()]
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.GrossOrderAmount)"
                        Caption="@L["OrderAmount"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-success">
                    @context.GrossOrderAmount.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.FeeRate)"
                        Caption="@L["FeeRate"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                @context.FeeRate.ToPercentageString()
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.HandlingFee)"
                        Caption="@L["HandlingFee"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-danger">
                    @context.HandlingFee.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.ProcessingFee)"
                        Caption="@L["ProcessingFee"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-danger">
                    @context.ProcessingFee.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Field="@nameof(TenantPayoutRecordDto.NetAmount)"
                        Caption="@L["NetAmount"]"
                        TextAlignment="TextAlignment.End">
            <DisplayTemplate>
                <Span Class="text-success">
                    @context.NetAmount.ToMoneyString()
                </Span>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Caption="@L["Status"]"
                        TextAlignment="TextAlignment.Center">
            <DisplayTemplate>
                @if (context.IsPaid)
                {
                    <Tooltip Text="@L["PayoutDetails:PaidOn", context.PaymentDate?.ToShortDateString() ?? ""]">
                        <PikachuBadge Class="pk-badge-success">
                            @L["Paid"]
                        </PikachuBadge>
                    </Tooltip>
                }
                else
                {
                    <PikachuBadge Class="pk-badge-warning">
                        @L["Unpaid"]
                    </PikachuBadge>
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="TenantPayoutRecordDto"
                        Caption="@L["Actions"]">
            <DisplayTemplate>
                <Div Class="text-nowrap">
                    @if (context.IsPaid)
                    {
                        <PikachuBadge Class="pk-badge-success">
                            @L["Processed"]
                        </PikachuBadge>
                    }
                    else
                    {
                        <Tooltip Display="Display.InlineBlock" Text="@L["TransferToWallet"]">
                            <PikachuButton Class="pk-btn-sm pk-btn-icon green" IconClass="fas fa-paper-plane"></PikachuButton>
                        </Tooltip>
                        <Tooltip Display="Display.InlineBlock" Text="@L["MarkAsPaid"]">
                            <PikachuButton Class="pk-btn-sm pk-btn-icon amber" IconClass="fas fa-check-double"></PikachuButton>
                        </Tooltip>
                    }
                </Div>
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
    <NextPageButtonTemplate>@L["NextPage"]</NextPageButtonTemplate>
    <PreviousPageButtonTemplate>@L["PrevPage"]</PreviousPageButtonTemplate>
    <LastPageButtonTemplate>@L["LastPage"]</LastPageButtonTemplate>
    <FirstPageButtonTemplate>@L["FirstPage"]</FirstPageButtonTemplate>
    <TotalItemsTemplate>
        @(string.Format(
                L["Range"],
                ((CurrentPage - 1) * PageSize) + 1,
                (CurrentPage * PageSize > TotalCount ? TotalCount : CurrentPage * PageSize),
                TotalCount
                ))
    </TotalItemsTemplate>
</DataGrid>
