@page "/tenants/payouts"
@using Kooco.Pikachu.Blazor.Pages.TenantPayouts.Steps
@using Kooco.Pikachu.TenantPaymentFees
<link href="/css/tenant-payout.css" rel="stylesheet" />
@inherits PikachuComponentBase
@attribute [Authorize(PikachuPermissions.TenantPayouts.Default)]

<div class="header">
    <div>
        <h3>@L["PayoutManagement"]</h3>
        <p>@string.Join(" > ", BreadcrumbItems.Select(bi => L[bi.Name]))</p>
    </div>
    <div>
        <PikachuButton Class="pk-btn-outline-primary"
                       IconClass="fas fa-cloud-download me-2"
                       Clicked="(() => TCatImportModal?.ShowModal())">
            @L["ImportTCatFile"]
        </PikachuButton>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>@SelectedStep.Title</h4>
        <p>@SelectedStep.SubTitle</p>
    </div>
    <div class="card-body">
        @if (SelectedStep.CanGoBack && SelectedStep.BackFunction != null)
        {
            <button class="back-btn" @onclick="SelectedStep.BackFunction">
                ← @SelectedStep.BackText
            </button>
        }

        @switch (SelectedStep.Step)
        {
            case 1:
                <TenantSelectionStep TenantChanged="TenantChanged" />
                break;

            case 2:
                <PaymentProviderSelectionStep TenantId="SelectedTenant?.TenantId" FeeTypeChanged="FeeTypeChanged" />
                break;

            case 3:
                <PayoutYearSelectionStep YearChanged="SelectYear" />
                break;

            case 4:
                <PayoutDetails Year="SelectedYear" />
                break;
        }
    </div>
</div>

<TCatFileImportModal @ref="TCatImportModal" OnImportCompleted="OnImportCompletedAsync" />
