@page "/tenants/payouts"
@using Kooco.Pikachu.Blazor.Pages.TenantPayouts.Steps
@using Kooco.Pikachu.TenantPaymentFees
@using Kooco.Pikachu.TenantPayouts
<link href="/css/tenant-payout.css" rel="stylesheet" />
@inherits PikachuComponentBase
@attribute [Authorize(PikachuPermissions.TenantPayouts.Default)]
@inject ITenantPayoutAppService TenantPayoutAppService

<div class="header">
    <div>
        <h3>@L["PayoutManagement"]</h3>
        <p>@string.Join(" > ", BreadcrumbItems.Select(bi => L[bi.Name]))</p>
    </div>
    <div>
        <PikachuButton Class="pk-btn-outline-primary"
                       IconClass="fas fa-cloud-download me-2"
                       Clicked="(() => TCatImportModal?.ShowModal())">
            @L["ImportTCatFile"]
        </PikachuButton>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>@CurrentStep.Title</h4>
        <p>@CurrentStep.SubTitle</p>
    </div>
    <div class="card-body">
        @if (CurrentStep.CanGoBack && CurrentStep.BackFunction != null)
        {
            <button class="back-btn" @onclick="CurrentStep.BackFunction">
                ← @CurrentStep.BackText
            </button>
        }

        @switch (CurrentStep.Step)
        {
            case 1:
                <TenantSelectionStep Service="TenantPayoutAppService" TenantChanged="TenantChanged" />
                break;

            case 2:
                <PaymentProviderSelectionStep Service="TenantPayoutAppService" TenantId="TenantId" FeeTypeChanged="FeeTypeChanged" />
                break;

            case 3:
                <PayoutYearSelectionStep Service="TenantPayoutAppService" TenantId="TenantId" FeeType="FeeType" YearChanged="YearChanged" />
                break;

            case 4:
                <PayoutDetails Service="TenantPayoutAppService" TenantId="TenantId" FeeType="FeeType" Year="Year" />
                break;
        }
    </div>
</div>

<TCatFileImportModal @ref="TCatImportModal" OnImportCompleted="OnImportCompletedAsync" />
