@using Kooco.Pikachu.InboxManagement
@inherits PikachuComponentBase

<Div Class="actions-container">
    <div class="inbox-actions">
        <div class="inbox-filter-actions">
            @foreach (var button in Enum.GetValues<NotificationFilter>())
            {
                <PikachuButton Class="@ButtonClass(button)"
                               Clicked="@(() => FilterChange(button))"
                               Disabled="Loading">
                    @L["Enum:NotificationFilter." + (int)button]
                </PikachuButton>
            }
        </div>
        <div class="inbox-actions-right">
            <PikachuButton Class="pk-btn-sm"
                           IconClass="fas fa-refresh"
                           Clicked="() => OnRefresh.InvokeAsync(Filter)"
                           Disabled="Loading">
                @L["Refresh"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-sm pk-btn-primary"
                           IconClass="fas fa-check"
                           Clicked="() => OnMarkAllRead.InvokeAsync()"
                           Disabled="Loading">
                @L["MarkAllRead"]
            </PikachuButton>
        </div>
    </div>
</Div>

@code {
    [Parameter] public bool Loading { get; set; }
    [Parameter] public NotificationFilter Filter { get; set; }
    [Parameter] public EventCallback<NotificationFilter> FilterChanged { get; set; }
    [Parameter] public EventCallback<NotificationFilter> OnRefresh { get; set; }
    [Parameter] public EventCallback OnMarkAllRead { get; set; }

    string ButtonClass(NotificationFilter button)
    {
        string btnClass = "pk-btn-sm" + " ";
        return btnClass + (Filter == button
            ? "pk-btn-secondary"
            : "pk-btn-outline-secondary");
    }

    async Task FilterChange(NotificationFilter button)
    {
        if (Loading) return;
        Filter = button;
        await FilterChanged.InvokeAsync(Filter);
        await OnRefresh.InvokeAsync(Filter);
    }
}