@page "/Inbox-Management"
@using Kooco.Pikachu.Blazor.Pages.InboxManagement.Columns
@using Kooco.Pikachu.InboxManagement
<link href="css/inbox.css" rel="stylesheet" />
@attribute [Authorize(PikachuPermissions.Inbox.Default)]
@inherits PikachuComponentBase
@inject INotificationAppService NotificationAppService

<h3 class="text-dark">@L["Inbox"]</h3>
<InboxStats Loading="Loading" />
<InboxActions Loading="Loading" OnRefresh="GetNotificationsAsync" />

<Table Responsive>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>@L["Type"]</TableHeaderCell>
            <TableHeaderCell>@L["Description"]</TableHeaderCell>
            <TableHeaderCell>@L["Status"]</TableHeaderCell>
            <TableHeaderCell>@L["Time"]</TableHeaderCell>
            <TableHeaderCell>@L["Actions"]</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @if (Notifications?.Count > 0)
        {
            @foreach (var notification in Notifications)
            {
                <TableRow Class="@RowClass(notification)">
                    <TableRowCell>
                        <NotificationType Notification="notification" />
                    </TableRowCell>
                    <TableRowCell>
                        <h5 class="notification-title">@L.WithParams(notification.Title, notification.TitleParams)</h5>
                        <p class="notification-message">@L.WithParams(notification.Message, notification.MessageParams)</p>
                    </TableRowCell>
                    <TableRowCell>
                        <NotificationStatus IsRead="notification.IsRead" />
                    </TableRowCell>
                    <TableRowCell>
                        <RelativeTime Time="@notification.NotificationTimeUtc" />
                    </TableRowCell>
                    <TableRowCell Style="width: 50px;">
                        <NotificationAction Notification="notification" OnView="OnView" />
                    </TableRowCell>
                </TableRow>
            }
        }
        else if (!Loading)
        {
            <TableRow>
                <TableRowCell ColumnSpan="5" class="text-center">
                    <p>@L["No notifications found."]</p>
                </TableRowCell>
            </TableRow>
        }
        @if (Loading)
        {
            <TableRow>
                <TableRowCell ColumnSpan="5">
                    <Spinner />
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>