@page "/Orders"
@using Kooco.Pikachu.Localization;
@using Kooco.Pikachu.OrderItems;
@using Kooco.Pikachu.Orders;
@using Microsoft.Extensions.Localization;
@using Blazorise;
@using Volo.Abp.AspNetCore.Components.Messages;

@inject IStringLocalizer<PikachuResource> L;
@inject NavigationManager NavigationManager;
@inject IUiMessageService _uiMessageService;
@inject IOrderAppService _orderAppService;

<div class="col-12 row">
    <div class="col-6">
        <h3>@L["Order"]</h3>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-primary">
            <i class="fa fa-print"></i>
            @L["Print"]
        </Button>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-secondary me-1">@L["CombineItems"]</Button>
        <div class="me-2 p-2">
            <input type="checkbox" class="me-1" style="height: 15px; width: 15px;" checked="@IsAllSelected" @onchange="HandleSelectAllChange"></input>
            <Label Class="form-label">@L["SelectAll"]</Label>
        </div>
    </div>
</div>

<DataGrid TItem="OrderDto"
          Data="@Orders"
        @bind-SelectedRow="@SelectedOrder"
        ReadData="OnDataGridReadAsync"
          DetailRowTrigger="@((e) => e.Item.OrderItems?.Count > 0 && e.Item.Id == SelectedOrder?.Id)"
          Responsive>
    <DataGridColumns>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(OrderDto.CreationTime)" Caption="@L["OrderNo"]" />
        <DataGridColumn Field="@nameof(OrderDto.CreationTime)" Caption="@L["OrderDate"]" />
        <DataGridColumn Field="@nameof(OrderDto.Name)" Caption="@L["CustomerName"]" />
        <DataGridColumn Field="@nameof(OrderDto.Email)" Caption="@L["Email"]" />
        <DataGridColumn Field="@nameof(OrderDto.CreationTime)" Caption="@L["OrderStatus"]" />
        <DataGridColumn Field="@nameof(OrderDto.Name)" Caption="@L["ShippingStatus"]" />
        <DataGridColumn Field="@nameof(OrderDto.PaymentMethod)" Caption="@L["PaymentMethod"]" />
        <DataGridColumn Field="@nameof(OrderDto.Name)" Caption="@L["CheckoutAmount"]" />
    </DataGridColumns>
    <DetailRowTemplate>
        @{
            var orderItems = (context as OrderDto).OrderItems;

            <DataGrid TItem="OrderItemDto"
                      Data="orderItems"
                      Sortable="false"
                      ShowCaptions="false">
                <DataGridCommandColumn />
                <DataGridDateColumn Field="@nameof(OrderDto.CreationTime)" Caption="Date" />
                <DataGridNumericColumn Field="@nameof(OrderDto.InvoiceType)" Caption="Total" />
            </DataGrid>
        }
    </DetailRowTemplate>
</DataGrid>


@code {

}
