@using Kooco.Pikachu.Members
@using System.Globalization
@using Kooco.Pikachu.Members.MemberTags
@using Kooco.Pikachu.TierManagement
@inherits PikachuComponentBase
@inject IMemberTagAppService MemberTagAppService
@inject IMemberAppService MemberAppService
@inject IVipTierSettingAppService VipTierSettingAppService

<Modal @ref="TagModal" Closing="@OnModalClosing">
    <ModalContent Size="ModalSize.Large" IsCentered="true">
        <ModalHeader>
            <ModalTitle>@(Input.EditingId.HasValue ? L["Edit"] : L["NewTag1"])</ModalTitle>
            <CloseButton Clicked="CloseTagModal" />
        </ModalHeader>
        <ModalBody>
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <h5 class="text-dark">@L["TagName"]<Span Class="text-danger">*</Span></h5>
                </Column>
                <Column ColumnSize="ColumnSize.Is9">
                    <Field>
                        <AntDesign.Input @bind-Value="Input.Name" Size="AntDesign.InputSize.Large"
                                         AutoFocus>
                        </AntDesign.Input>
                    </Field>
                </Column>
            </Row>
            <Divider></Divider>
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <h5 class="text-dark">@L["Conditions"]</h5>
                </Column>
                <Column ColumnSize="ColumnSize.Is9">
                    <Field>
                        <Label>@L["MemberType"]</Label>
                        <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                          @bind-Values="@Input.MemberTypes"
                                          MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                          AllowClear
                                          TItem="string"
                                          TItemValue="string"
                                          OnSelectedItemsChanged="@(() => CountMembersAsync())">
                            <SelectOptions>
                                @foreach (var tagName in MemberConsts.MemberTags.Names)
                                {
                                    <AntDesign.SelectOption TItemValue="string" TItem="string" Value=@tagName Label=@L[tagName] />
                                }
                            </SelectOptions>
                        </AntDesign.Select>
                    </Field>
                    <Field>
                        <Label>@L["MemberTags"]</Label>
                        <AntDesign.Select Mode="AntDesign.SelectMode.Multiple"
                                          @bind-Values="@Input.MemberTags"
                                          MaxTagCount="AntDesign.Select.ResponsiveTag.Responsive"
                                          AllowClear
                                          EnableSearch
                                          TItem="string"
                                          TItemValue="string"
                                          OnSelectedItemsChanged="@(() => CountMembersAsync())">
                            <SelectOptions>
                                @foreach (var item in MemberTagOptions)
                                {
                                    <AntDesign.SelectOption TItemValue="string" TItem="string" Value=@item Label=@item />
                                }
                            </SelectOptions>
                        </AntDesign.Select>
                    </Field>
                    <Field>
                        <Label>@L["AmountSpent"]</Label>
                        <AntDesign.InputNumber Class="no-stepper"
                                               TValue="int?"
                                               @bind-Value="Input.AmountSpent"
                                               Min="0"
                                               Formatter="AntHelper.FormatAmount"
                                               Parser="AntHelper.ParseAmount"
                                               OnChange="@((e) => CountMembersAsync())">
                        </AntDesign.InputNumber>
                    </Field>
                    <Field>
                        <Label>@L["OrderCountCompleted"]</Label>
                        <AntDesign.InputNumber Class="no-stepper"
                                               TValue="int?"
                                               @bind-Value="Input.OrdersCompleted"
                                               Min="0"
                                               OnChange="@((e) => CountMembersAsync())" />
                    </Field>
                    <Field>
                        <Label>@L["RegistrationDate"]</Label>
                        <AntDesign.RangePicker TValue="DateTime?[]"
                                               Value="Input.RegistrationDateRange"
                                               Format="@AntLocaleHelper.GetFormat()"
                                               Locale="AntLocaleHelper.GetLocale()",
                                               Placeholder="@(new[] { L["StartDate"].Value, L["EndDate"].Value })"
                                               CultureInfo="@CultureInfo.CurrentCulture"
                                               OnChange="OnRangeChange" />
                    </Field>
                </Column>
            </Row>
            <Divider></Divider>
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <h5 class="text-dark">@L["TotalMembers"]</h5>
                </Column>
                <Column ColumnSize="ColumnSize.Is9">
                    <Label>@TotalMembers</Label>
                </Column>
            </Row>
        </ModalBody>
        <ModalFooter>
            <PikachuButton Class="pk-btn-sm pk-btn-danger"
                           Clicked="CloseTagModal" Disabled="Loading">
                @L["Cancel"]
            </PikachuButton>
            <PikachuButton Class="pk-btn-sm pk-btn-primary"
                           Clicked="AddTagsToMembersAsync" Loading="Loading"
                           IconClass="fas fa-check"
                           Disabled="string.IsNullOrWhiteSpace(Input.Name)">
                @L["Save"]
            </PikachuButton>
        </ModalFooter>
    </ModalContent>
</Modal>