@page "/Freebie/New"

@using Kooco.Pikachu.EnumValues;
@using Kooco.Pikachu.GroupBuys;
@using Kooco.Pikachu.Items.Dtos;
@using Pikachu.Items;
@using Pikachu.Localization;
@using Microsoft.Extensions.Localization;
@using System.ComponentModel
@using Blazorise.Components;

@inherits PikachuComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>@L["NewFreebie"]</h3>
<Card>
    <CardBody>
        <div class="card-body">
            <div class="row">

                <div class="col-2">
                    <label>
                        @L["ItemName"]
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-10">
                    <Addons>
                        <Addon AddonType="AddonType.Body">
                            <TextEdit @bind-Text="FreebieCreateDto.ItemName" MaxLength="@MaxTextCount" />
                        </Addon>
                        <Addon AddonType="AddonType.End">
                            <AddonLabel Style="background-color: #f5f5f7">
                                @(string.IsNullOrWhiteSpace(FreebieCreateDto.ItemName) ? 0 : (FreebieCreateDto.ItemName.Count()))/@MaxTextCount
                            </AddonLabel>
                        </Addon>
                    </Addons>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-2">
                    <label>
                        @L["ItemImages"]
                        <span class="text-danger">*</span>
                        <Span>
                            <Tooltip Display="Display.InlineBlock" Text="@L["uploadUpto10Images"]">
                                <Icon class="fa-question-circle "></Icon>
                            </Tooltip>
                        </Span>
                    </label>
                </div>
                <div class="col-10">
                    <Div Class="@((ImageList.Count > 0 ? "has-images" : "") + " container-less-filepicker filepicker-sm")">
                        <Field>
                            <FilePicker @ref="FilePicker"
                                        FilePickerLocalizer="(key,args)=>LocalizeFilePicker(key,args)"
                                        Multiple
                                        Changed="OnImageUploadAsync"
                                        ShowMode="FilePickerShowMode.List"
                                        Accept="@(string.Join(", ", Constant.ValidImageExtensions))">
                            </FilePicker>
                        </Field>
                    </Div>
                </div>
                @if (ImageList.Count > 0)
                {
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="image-list-container">
                            @foreach (var image in ImageList)
                            {
                                <div>
                                    <div class="image-container">
                                        <Image class="blur-image" Source="@image.ImageUrl" Text="Carousel Image" Fluid />
                                        <button class="delete-button" @onclick="() => DeleteImageAsync(image.BlobImageName)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label>
                        @L["ItemDescription"]
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-10">
                    <Blazored.TextEditor.BlazoredTextEditor @ref="@ItemDescription">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-image"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-video"></button>
                            </span>
                        </ToolbarContent>
                    </Blazored.TextEditor.BlazoredTextEditor>
                </div>
            </div>

            <div class="row mt-5">
                <div class="row mb-2"></div>
                <div class="col-2">
                    <label>@L["ChooseGroupBuy"]</label>
                </div>
                <div class="col-10">
                    <RadioGroup TValue="bool"
                                CheckedValue="@FreebieCreateDto.ApplyToAllGroupBuy"
                                CheckedValueChanged="@OnGroupbuyCheckedValueChanged"
                                Name="ApplyToAllGroupBuy"
                                Class="horizontal-radiogroup">
                        <Radio Value="@(true)">
                            @L["ApplyToAllGroupBuys"]
                        </Radio>
                        <Radio Value="@(false)">
                            @L["SelectGroupsBuys"]
                        </Radio>
                    </RadioGroup>

                </div>
            </div>

            @if (FreebieCreateDto.ApplyToAllGroupBuy == false)
            {
                <div class="row mt-2">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <Autocomplete TItem="KeyValueDto"
                                      TValue="Guid?"
                                      Data="@GroupBuyList"
                                      TextField="@(( item ) => item.Name)"
                                      ValueField="@(( item ) => item.Id)"
                                      @bind-SelectedValues="FreebieCreateDto.FreebieGroupBuys"
                                      @bind-SelectedTexts="SelectedTexts"
                                      Placeholder="Search..."
                                      Filter="AutocompleteFilter.StartsWith"
                                      SelectionMode="AutocompleteSelectionMode.Multiple"
                                      CustomFilter="@((item, searchValue) =>item.Name != null && item.Name.IndexOf(searchValue, 0, StringComparison.CurrentCultureIgnoreCase) >= 0)"
                                      HighlightSearch
                                      Immediate="true"
                                      Size="Size.Small">
                            <NotFoundContent> @L["NotFound"] </NotFoundContent>
                        </Autocomplete>
                    </div>
                </div>
            }

            <div class="row mt-3">
                <div class="col-2">
                    @L["ApplyCondition"]
                </div>
                <div class="col-9">
                    <RadioGroup TValue="bool"
                                CheckedValue="@FreebieCreateDto.UnCondition"
                                CheckedValueChanged="@OnUnconditionCheckedValueChanged"
                                Name="Condition"
                                Class="horizontal-radiogroup">
                        <Radio Value="@(true)">
                            @L["Uncondition"]
                        </Radio>
                        <Radio Value="@(false)">
                            @L["WhenOrderReach"]
                        </Radio>
                    </RadioGroup>

                </div>
            </div>

            @if (FreebieCreateDto.UnCondition == false)
            {
                <div class="row mt-1">
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <select class="form-control form-control-sm"
                                @bind="FreebieCreateDto.FreebieOrderReach">
                            @foreach (var enumValue in Enum.GetValues(typeof(FreebieOrderReach)))
                            {
                                <option value="@enumValue">@L[enumValue.ToString()]</option>
                            }
                        </select>

                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-2">
                    </div>
                    @if (FreebieCreateDto.FreebieOrderReach == FreebieOrderReach.MinimumAmount)
                    {
                        <div class="col-2">
                            <Label>@L["AmountReach"]</Label>
                            <div class="input-group">
                                <Span Class="bg-primary text-light px-2 py-1">$</Span>
                                <NumericEdit TValue="decimal?" @bind-Value="FreebieCreateDto.MinimumAmount" Size="Size.Small" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-2">
                            <Label>@L["QuantityReach"]</Label>
                            <div class="input-group">
                                <Span Class="bg-primary text-light px-2 py-1">@L["Piece"]</Span>
                                <NumericEdit TValue="int?" @bind-Value="FreebieCreateDto.MinimumPiece" Size="Size.Small" />
                            </div>
                        </div>
                    }

                    <div class="col-2">
                        <Label l>@L["Get"]</Label>
                        <div class="input-group">
                            <NumericEdit Size="Size.Small" TValue="int" @bind-Value="FreebieCreateDto.FreebieQuantity" />
                            <Span Class="bg-primary text-light px-2 py-1">@L["Piece"]</Span>
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-3">
                <div class="col-2">@L["ActivityDate"]</div>
                <div class="col-5">
                    <DateEdit TValue="DateTime?" @bind-Date="FreebieCreateDto.ActivityStartDate" InputMode="DateInputMode.Date" Placeholder="@L["StartTime"]" />
                </div>
                <div class="col-5">
                    <DateEdit TValue="DateTime?" @bind-Date="FreebieCreateDto.ActivityEndDate" InputMode="DateInputMode.Date" Placeholder="@L["EndDate"]" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label>
                        @L["FreebieAmount"]
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-10">
                    <NumericEdit @bind-Value="FreebieCreateDto.FreebieAmount" TValue="decimal"></NumericEdit>
                </div>
            </div>
        </div>
    </CardBody>
    <CardFooter>
    </CardFooter>
</Card>
<div class="row">
    <div class="col-12 text-lg-end">
        <Button Type="@ButtonType.Button" class="btn btn-danger" Clicked="CancelToFreebieList">@L["Cancel"]</Button>
        <Button Type="@ButtonType.Button" class="btn btn-primary" Clicked="CreateFreebieAsync">
            <i class="fa fa-check"></i>
            @L["Save"]
        </Button>
    </div>
</div>
@code {

 }
