@page "/Freebie/FreebieList"
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Application.Dtos
@using Kooco.Pikachu.Freebies.Dtos
@using Kooco.Pikachu.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp
@using System.Text.Json;
@using System.ComponentModel


@inject IStringLocalizer<PikachuResource> L
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-6">
        <h3>@L["FreebiesList"]</h3>
    </div>
    <div class="col-6 text-lg-end">
        <div class="custom-check-group me-1">
            <input type="checkbox" class="form-check-input" checked="@IsAllSelected" @onchange="HandleSelectAllChange"></input>
            <Label Class="form-label">@L["SelectAll"]</Label>
        </div>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-primary" Clicked="CreateNewItem">
            <i class="fa fa-plus"></i>
            @L["NewItem"]
        </Button>
        <Button Type="@ButtonType.Button" Class="btn btn-sm btn-danger" Clicked="DeleteSelectedAsync">
            @L["DeleteSelected"]
        </Button>
    </div>
</div>
<Card>
    <CardBody>
        <DataGrid TItem="FreebieDto"
                  Data="FreebieListItems"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="Total"
                  ShowPager="true"
                  PageSize="PageSize"
                  RowDoubleClicked="OnEditItem"
                  SortChanged="OnSortChange">
            <DataGridColumns>
                <DataGridColumn TItem="FreebieDto" Caption="@L["Select"]" Width="30px">
                    <DisplayTemplate>
                        <InputCheckbox class="form-check-input" @bind-Value="@context.IsSelected"></InputCheckbox>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="FreebieDto"
                                Field="@nameof(FreebieDto.ItemName)"
                                Caption="@L["ItemName"]">
                </DataGridColumn>
                <DataGridColumn TItem="FreebieDto"
                                Caption="@L["ActivityTimePeriod"]">
                    <DisplayTemplate>
                        @(context.ActivityStartDate?.ToShortDateString() ?? "") - @(context.ActivityEndDate?.ToShortDateString() ?? "")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="FreebieDto"
                                Field="@nameof(FreebieDto.CreationTime)"
                                Caption="@L["CreatedTime"]">
                    <DisplayTemplate>
                        @context.CreationTime.ToShortDateString()
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="FreebieDto" Field="@nameof(FreebieDto.IsFreebieAvaliable)"
                                Caption="@L["Availability"]">
                    <DisplayTemplate>
                        <Switch TValue="bool" Checked="@context.IsFreebieAvaliable" CheckedChanged="@(() => OnFreebieAvaliablityChange(context.Id))"></Switch>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
            <FirstPageButtonTemplate>@L[PikachuResource.FirstPage]</FirstPageButtonTemplate>
            <PreviousPageButtonTemplate>@L[PikachuResource.PrevPage]</PreviousPageButtonTemplate>
            <NextPageButtonTemplate>@L[PikachuResource.NextPage]</NextPageButtonTemplate>
            <LastPageButtonTemplate>@L[PikachuResource.LastPage]</LastPageButtonTemplate>
        </DataGrid>
    </CardBody>
</Card>

@code {
    }